<ng-container>
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-5 text-center ">
                <img src="assets/images/success.png" alt="success payment" class="img-fluid">
            </div>
            <div class="col-5 my-auto pt-5">
                <div class="text-center">
                    <h2 class="mb-4">Thanks Mobina</h2>
                    <div class="d-flex justify-content-center text-capitalize my-3 py-3">
                        <i class="far fa-check-circle fa-2x text-success"></i>
                        <h3 class="text-success px-2">
                            Your payment was successful
                        </h3>
                    </div>
                    <h5>
                        tracking code :123456
                    </h5>
                    <button class="btn btn-success my-4">Okay! continue</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>