<div class="main">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h4>About applyfree</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-muted">
            <p>applyfree is being used to search for education specific offerings. On the
                other hand, it is being used to create and publish searchable offerings as contracts.
                You can enter any contract as the second party when you find it. After finding the right
                contract for you, you're free to contact the first party in order to negotiate, bargain
                and communicate whatever you like. At the end, if the first party, the user who has
                created the contract, agrees to work with you, you'll have a deal.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>
                </div>
                <div class="col-10">

                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>