<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg py-5">
                        <a class="navbar-brand text-light" href="#">
                            <h3>
                                applyfree
                            </h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto mr-5">
                                <a class="nav-item text-light  nav-link active ml-3" routerLink="/home">Home<span
                                        class="sr-only">(current)</span></a>
                                <a class="nav-item text-light  nav-link ml-3" routerLink="/contracts">Contracts</a>
                                <a class="nav-item text-light nav-link ml-3" routerLink="/pages/contactus">Contact us</a>
                                <a class="nav-item text-light  nav-link ml-3" routerLink="/pages/aboutus">About us</a>
                                <!-- <a class="nav-item text-light  nav-link ml-3" routerLink="/terms">Terms</a>
                                <a class="nav-item text-light  nav-link ml-3"
                                    routerLink="/policy">Policy</a> -->
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-light border-radius-20 px-lg-4 px-md-5 px-sm-5 px-4 position-relative btn-custom-1" routerLink="/login">
                                <span>Log in | Register</span>
                            </button>
                            <button class="btn btn-light border-radius-full ml-2 position-relative btn-custom-2" routerLink="/login">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="container">
                    <!--  -->
                </div>
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <h5>Quick access</h5>
                                <ul class="list-unstyled">
                                    <li>About us</li>
                                    <li>Contact us</li>
                                    <li>Contracts</li>
                                    <li>Terms and conditions</li>
                                    <li>Privacy Policy</li>
                                </ul>
                            </div>
                            <div class="col-2">
                                <h5>Quick access</h5>
                                <ul class="list-unstyled">
                                    <li>About us</li>
                                    <li>Contact us</li>
                                    <li>Contracts</li>
                                    <li>Terms and conditions</li>
                                    <li>Privacy Policy</li>
                                </ul>
                            </div>
                            <div class="col-5">
                                <h5>applyfree departments</h5>
                                <ul class="list-unstyled">
                                    <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                    <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                    <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                    <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                    <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                </ul>
                            </div>
                            <div class="col-2">
                                <h5>Quick access</h5>
                                <ul class="list-unstyled">
                                    <li>About us</li>
                                    <li>Contact us</li>
                                    <li>Contracts</li>
                                    <li>Terms and conditions</li>
                                    <li>Privacy Policy</li>
                                </ul>
                            </div>
                            <div class="col-1">
                                <h5>Social</h5>
                                <img src="assets/images/instagram.png" class="img-fluid" alt="instagram">
                                <img src="assets/images/linkedin.png" class="img-fluid" alt="linkedin">
                                <img src="assets/images/twitter.png" class="img-fluid" alt="twitter">
                                <img src="assets/images/telegram.png" class="img-fluid" alt="telegram">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <img src="assets/images/building-footer.png" alt="footer applyfree" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page/terms -->
<ng-template></ng-template>