<header>
    <div class="container position-relative z-index-1">
        <app-navigator></app-navigator>
    </div>
</header>
<main>
    <div class="container">
        <div [ngSwitch]="section">
            <ng-template [ngSwitchCase]="'about'">
                <div class="main">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h4>About applyfree</h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 text-muted">
                            <p>applyfree is being used to search for education specific offerings. On the other hand, it is being used to create and publish searchable offerings as contracts. You can enter any contract as the second party when you find it.
                                After finding the right contract for you, you're free to contact the first party in order to negotiate, bargain and communicate whatever you like. At the end, if the first party, the user who has created the contract, agrees
                                to work with you, you'll have a deal.
                            </p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-12 text-center">
                            <h4>applyfree achievement</h4>
                        </div>
                    </div>
                    <div class="row mb-5 pb-5">
                        <div class="col-6 text-center">
                            <h4>applyfree prides</h4>
                            <small>Lorem ipsum dolor sit amet</small>
                        </div>
                        <div class="col-6 text-center">
                            <h4>applyfree prides</h4>
                            <small>Lorem ipsum dolor sit amet</small>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-12 text-center text-muted">
                            <h4>applyfree team</h4>
                        </div>
                    </div>
                    <div class="row justify-content-center my-5 pb-5">
                        <div class="col-2" *ngFor="let item of team">
                            <div class="card border-0">
                                <img class="card-img-top rounded-circle" [src]="item.img" alt="applyfree team">
                                <div class="card-body text-center">
                                    <h6 class="card-title">{{item.title}}</h6>
                                    <small class="card-text text-muted">{{item.name}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 text-center text-muted">
                            <h4>Frequently asked questions :</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-4 pb-2 px-5" *ngFor="let item of faq">
                            <div class="row mt-2">
                                <div class="col-1 pr-0 pl-4">
                                    <img [src]="item.img" alt="faq" width="50">
                                </div>
                                <div class="col-11 pl-0">{{item.question}}</div>
                            </div>
                            <div class="row ml-5 pl-4">
                                <div class="col-10 bg-muted border-radius-10 px-4 py-3 text-muted">
                                    {{item.answer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'contact'">
                <div class="row justify-content-center my-5">
                    <div class="col-6 text-center">
                        <h4>Contact with applyfree</h4>
                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Impedit sed fugiat rerum dolorem similique sint elit. Architecto perspiciatis voluptatum totam velit repellendus ea voluptates ipsam, labore cupiditate rerum corrupti rem eligendi, exercitationem
                            accusamus hic quis. Magni, officia culpa.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name is">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <textarea name="message" placeholder="Please write your message here ..." cols="87" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-orangered ">Send</button>
                        </form>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'terms'">
                <div class="row justify-content-center my-5">
                    <div class="col-6 text-center">
                        <h4>Terms and Conditions</h4>
                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Impedit sed fugiat rerum dolorem similique sint facilis itaque molestiae blanditiis, doloribus doloremque amet eaque libero, quidem numquam, molestias ipsam tempore porro. Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Minima repellendus, delectus quisquam praesentium unde libero hic odit nesciunt asperiores minus itaque quaerat iste! Minus ipsam numquam tenetur, fugit iste aspernatur. Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Commodi corporis consectetur nulla nihil illum magni, a sint ab veritatis error quis sunt obcaecati ratione necessitatibus labore exercitationem totam inventore unde. Lorem, ipsum
                            dolor sit amet consectetur adipisicing elit. Architecto perspiciatis voluptatum totam velit repellendus ea voluptates ipsam, labore cupiditate rerum corrupti rem eligendi, exercitationem accusamus hic quis. Magni, officia culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 shadow-lg border-radius-20 p-5">
                        <h5 class="text-muted mb-3">Note: Terms</h5>
                        <div class="d-flex">
                            <span class="mx-3"><img src="assets/images/quote.png" alt="terms" width="35"></span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias culpa.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="assets/images/terms.png" class="img-fluid" alt="terms">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <img src="assets/images/company.png" alt="company" class="img-fluid">
                    </div>
                    <div class="col my-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias officiis voluptates molestias corrupti, obcaecati
                            officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center my-4">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'policy'">
                <div class="row justify-content-center my-5">
                    <div class="col-6 text-center">
                        <h4>Terms and Conditions</h4>
                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Impedit sed fugiat rerum dolorem similique sint facilis itaque molestiae blanditiis, doloribus doloremque amet eaque libero, quidem numquam, molestias ipsam tempore porro. Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Minima repellendus, delectus quisquam praesentium unde libero hic odit nesciunt asperiores minus itaque quaerat iste! Minus ipsam numquam tenetur, fugit iste aspernatur. Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Commodi corporis consectetur nulla nihil illum magni, a sint ab veritatis error quis sunt obcaecati ratione necessitatibus labore exercitationem totam inventore unde. Lorem, ipsum
                            dolor sit amet consectetur adipisicing elit. Architecto perspiciatis voluptatum totam velit repellendus ea voluptates ipsam, labore cupiditate rerum corrupti rem eligendi, exercitationem accusamus hic quis. Magni, officia culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 shadow-lg border-radius-20 p-5">
                        <h5 class="text-muted mb-3">Note: Terms</h5>
                        <div class="d-flex">
                            <span class="mx-3"><img src="assets/images/quote.png" alt="terms" width="35"></span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias culpa.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="assets/images/terms.png" class="img-fluid" alt="terms">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <img src="assets/images/company.png" alt="company" class="img-fluid">
                    </div>
                    <div class="col my-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias officiis voluptates molestias corrupti, obcaecati
                            officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center my-4">
                    <div class="col-10">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est hic sed ipsa nesciunt excepturi porro, assumenda totam! Nisi harum ea officiis sit, quidem obcaecati dicta alias atque quos molestias? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Deserunt corporis magnam quia deleniti quisquam laboriosam voluptatum ratione. Alias reiciendis id officiis voluptates molestias corrupti, obcaecati officia est distinctio in vel! Lorem ipsum culpa.
                        </p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</main>
<footer>
    <div class="container position-relative z-index-1">
        <div class="row text-light">
            <div class="col-2 pt-5 mt-5 text-center">
                <h5>Quick access</h5>
                <ul class="list-unstyled">
                    <li class="p-2">About us</li>
                    <li class="p-2">Contact us</li>
                    <li class="p-2">Contracts</li>
                    <li class="p-2">Terms and conditions</li>
                    <li class="p-2">Privacy Policy</li>
                </ul>
            </div>
            <div class="col-2 pt-5 mt-5 text-center">
                <h5>Quick access</h5>
                <ul class="list-unstyled">
                    <li class="p-2">About us</li>
                    <li class="p-2">Contact us</li>
                    <li class="p-2">Contracts</li>
                    <li class="p-2">Terms and conditions</li>
                    <li class="p-2">Privacy Policy</li>
                </ul>
            </div>
            <div class="col-5 pt-5 mt-5 text-center">
                <h5>applyfree departments</h5>
                <ul class="list-unstyled">
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                </ul>
            </div>
            <div class="col-2 pt-5 mt-5 text-center">
                <h5>Quick access</h5>
                <ul class="list-unstyled">
                    <li class="p-2">About us</li>
                    <li class="p-2">Contact us</li>
                    <li class="p-2">Contracts</li>
                    <li class="p-2">Terms and conditions</li>
                    <li class="p-2">Privacy Policy</li>
                </ul>
            </div>
            <div class="col-1 pt-5 mt-5 text-center">
                <h5>Social</h5>
                <img src="assets/images/instagram.png" class="img-fluid p-3" alt="instagram">
                <img src="assets/images/linkedin.png" class="img-fluid p-3" alt="linkedin">
                <img src="assets/images/twitter.png" class="img-fluid p-3" alt="twitter">
                <img src="assets/images/telegram.png" class="img-fluid p-3" alt="telegram">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h4 class="text-light text-center font-weight-light">Powered by applyfree</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <img src="assets/images/building-footer.png" alt="footer applyfree" class="img-fluid">
            </div>
        </div>
    </div>
</footer>