<footer>
    <div class="container pt-5 position-relative z-index-1">
        <div class="row text-light d-xl-flex d-lg-flex d-md-none d-sm-none d-none justify-content-center pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0">
            <div class="col-xl-3 col-lg-1 col-md-1 col-sm-2 col-12">
                <a class="d-block" href="https://www.instagram.com/applyfree.us/" target="_blank" rel="nofollow">
                    <i class="fab fa-instagram text-light fa-2x p-2"></i>
                </a>
                <a class="d-block" href="https://www.linkedin.com/company/applyfree/" target="_blank" rel="nofollow">
                    <i class="fab fa-linkedin text-light fa-2x p-2"></i>
                </a>
                <a class="d-block" href="https://twitter.com/ApplyfreeU" target="_blank" rel="nofollow">
                    <i class="fab fa-twitter text-light fa-2x p-2"></i>
                </a>
                <a href="https://fb.me/applyfree.us" target="_blank" rel="nofollow">
                    <i class="fab fa-facebook text-light fa-2x p-2"></i>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-12">
                <h5>
                    <b>
                        Quick access
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a class="text-light pointer" [routerLink]="['/public/page', 'terms']">
                            Terms and conditions
                        </a>
                    </li>
                    <li class="py-2">
                        <a class="text-light pointer" [routerLink]="['/public/page', 'policy']">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="py-2">
                        <a class="text-light pointer" [routerLink]="['/public/page', 'about']" fragment="faq">
                            FAQ
                        </a>
                    </li>
                    <li class="py-2">
                        <a class="text-light pointer" [routerLink]="['/']">
                            Home
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-3 col-lg-2 col-md-2 col-sm-2 col-12">
                <h5>
                    <b>
                        Info
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="py-2"><a class="text-light pointer" [routerLink]="['/public/page', 'about']">About us</a>
                    </li>
                    <li class="py-2"><a class="text-light pointer" [routerLink]="['/public/page', 'contact']">Contact
                            us</a>
                    </li>
                    <li class="py-2"><a class="text-light pointer" [routerLink]="['/public/programs']">Programs</a></li>
                    <li class="py-2">
                        <button type="button" class="btn btn-link text-light p-0" data-toggle="modal" data-target="#bugsReport">Bugs
                            report</button>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-12 text-center">
                <a class="text-light" [routerLink]="['/']">
                    <img src="assets/images/logo-reversed.png" alt="applyfree" class="img-fluid">
                </a>
                <div class="text-light mt-5">
                    Get your admission letter for free
                </div>
            </div>
        </div>
        <div class="row d-xl-none d-lg-none d-md-block d-sm-block d-block">
            <div class="row justify-content-center mr-1 pt-5">
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/public/page', 'about']">About us</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/public/page', 'contact']">Contact us</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/public/programs']">Programs</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/public/page', 'policy']">Privacy Policy</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/public/page', 'terms']">Terms and conditions</a>
                </div>
            </div>
            <div class="row justify-content-center mr-1 py-4">
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <a class="d-block" href="https://www.instagram.com/applyfree.us/" target="_blank" rel="nofollow">
                        <i class="fab fa-instagram text-light fa-2x p-2"></i>
                    </a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <a class="d-block" href="https://www.linkedin.com/company/applyfree/" target="_blank" rel="nofollow">
                        <i class="fab fa-linkedin text-light fa-2x p-2"></i>
                    </a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <a class="d-block" href="https://twitter.com/ApplyfreeU" target="_blank" rel="nofollow">
                        <i class="fab fa-twitter text-light fa-2x p-2"></i>
                    </a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <a href="https://fb.me/applyfree.us" target="_blank" rel="nofollow">
                        <i class="fab fa-facebook text-light fa-2x p-2"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h6 class="text-light">copyright <i class="far fa-copyright"></i> applyfree 2020</h6>
            </div>
        </div>
    </div>
</footer>

<!-- Bug report Modal-->
<div class="modal fade" id="bugsReport" tabindex="-1" aria-labelledby="bugsReportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="bugsReportLabel">
                    <i class="fas fa-bug text-warning mr-2"></i> Bug report
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mt-2 py-2">
                    <p class="mb-4">
                        Please report to us any problem regarding use of this website by filling and submitting the following form
                    </p>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" #fileUpload id="fileUpload" name="fileUpload" accept="image/*">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Where is the problem?</label>
                        <input type="text" class="form-control" placeholder="Please tell us" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary float-right">Send</button>
            </div>
        </div>
    </div>
</div>