<div class="row">
    <div class="col-12">
        <table class="table table-hover text-center table-striped">
            <thead>
                <tr>
                    <th class="border-top-0 border-bottom-0">Title</th>
                    <th class="border-top-0 border-bottom-0">Price</th>
                    <th class="border-top-0 border-bottom-0">Status</th>
                    <th class="border-top-0 border-bottom-0">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3">
                    </td>
                    <td class="py-3">
                    </td>
                    <td class="py-3">
                    </td>
                    <td>
                        <a class="btn btn-orangedark">show details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>