<ng-container>
    <ng-container>
        <!-- <div class="text-center text-muted">
            <div>
                <i class="fa fa-sync fa-spin"></i>
            </div>
            <div>
                Please wait ...
            </div>
        </div> -->
    </ng-container>
    <ng-container>
        <ng-container>
            <div class="text-center text-muted">
                <h5>You do not have any payment!</h5>
                <a routerLink="/public/programs" class="btn btn-orangedark mt-2">
                    Go to programs
                </a>
            </div>
        </ng-container>
        <!-- <div class="row">
            <div class="col-12">
                <h6 class="text-muted mb-2">
                    <i class="fas fa-money-check-alt text-primary"></i>
                    Payments to which you pay
                </h6>
                <div class="table-responsive mt-4">
                    <table class="table table-hover text-center table-striped">
                        <thead>
                            <tr>
                                <th class="th-number"></th>
                                <th>Payment</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="py-3">
                                    <div>
                                        <small>
                                        </small>
                                    </div>
                                </td>
                                <td class="py-3">
                                </td>
                                <td class="py-3">
                                </td>
                                <td>
                                    <a class="btn btn-orangedark">show
                                        details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </ng-container>
</ng-container>