<div class="main">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h4>About applyfree</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-muted">
            <p>applyfree is being used to search for education specific offerings. On the
                other hand, it is being used to create and publish searchable offerings as contracts.
                You can enter any contract as the second party when you find it. After finding the right
                contract for you, you're free to contact the first party in order to negotiate, bargain
                and communicate whatever you like. At the end, if the first party, the user who has
                created the contract, agrees to work with you, you'll have a deal.
            </p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text-center">
            <h4>applyfree achievement</h4>
        </div>
    </div>
    <div class="row mb-5 pb-5">
        <div class="col-6 text-center">
            <h4>applyfree prides</h4>
            <small>Lorem ipsum dolor sit amet</small>
        </div>
        <div class="col-6 text-center">
            <h4>applyfree prides</h4>
            <small>Lorem ipsum dolor sit amet</small>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center text-muted">
            <h4>applyfree team</h4>
        </div>
    </div>
    <div class="row justify-content-center my-5 pb-5">
        <div class="col-2" *ngFor="let item of applyfreeTeam">
            <div class="card border-0">
                <img class="card-img-top rounded-circle" [src]="item.img" alt="applyfree team">
                <div class="card-body text-center">
                    <h6 class="card-title">{{item.title}}</h6>
                    <small class="card-text text-muted">{{item.name}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-center text-muted">
            <h4>Frequently asked questions :</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 pb-2 px-5" *ngFor="let item of faq">
            <div class="row mt-2">
                <div class="col-1 pr-0 pl-4">
                    <img [src]="item.img" alt="faq" width="50">
                </div>
                <div class="col-11 pl-0">{{item.question}}</div>
            </div>
            <div class="row ml-5 pl-4">
                <div class="col-10 bg-muted border-radius-10 px-4 py-3 text-muted">
                    {{item.answer}}
                </div>
            </div>
        </div>
    </div>
</div>