<div class="row align-content-center h-100 background px-xl-0 px-lg-0 px-md-0 px-4">
    <div class="col-xl-4 col-lg-6 col-md-9 col-12 shadow-lg px-xl-5 px-lg-5 px-md-5 px-1 py-xl-5 py-lg-5 py-md-5 py-3 bg-light mx-auto border-radius-30">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <a routerLink="/">
                        <img src="assets/images/logo.png" class="img-fluid" alt="applyfree">
                    </a>
                </div>
                <form [formGroup]="form" class="mt-5" (ngSubmit)="login(form.value)">

                    <div class="form-group position-relative px-xl-0 px-lg-0 px-md-0 px-3">
                        <input formControlName="username" id="username" class="form-control bg-transparent border-radius-0 border-right-0 border-left-0 border-top-0" type="email" autocomplete="off" required />
                        <label for="username" class="form-control-placeholder">
                            <i class="far fa-envelope"></i>
                            Email
                        </label>
                    </div>
                    <div class="form-group position-relative mt-5 px-xl-0 px-lg-0 px-md-0 px-3">
                        <input formControlName="password" id="password" minlength=6 class="form-control bg-transparent border-radius-0 border-right-0 border-left-0 border-top-0" type="password" autocomplete="off" required />
                        <label for="password" class="form-control-placeholder">
                            <i class="fa fa-key"></i>
                            Password
                        </label>
                    </div>

                    <div class="row mt-5">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 order-xl-1 order-lg-1 order-md-1 order-2 mt-lg-0 mt-md-0 mt-4 text-xl-left text-lg-left text-md-left text-center">
                            <div>
                                <a routerLink="/account/forgot" class="btn btn-link text-muted text-truncate pt-0">
                                    <small>
                                            <i class="fas fa-key w-15px"></i>
                                            Forget my password
                                        </small>
                                </a>
                            </div>
                            <div>
                                <a routerLink="/account/signup" class="btn btn-link text-muted text-truncate pt-0">
                                    <small>
                                            <i class="fas fa-user-plus w-15px"></i>
                                            Register now
                                        </small>
                                </a>
                            </div>
                            <div>
                                <a routerLink="/" class="btn btn-link text-muted pt-0">
                                    <small>
                                            <i class="fas fa-arrow-left w-15px"></i> Back to Home
                                        </small>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 align-self-end order-xl-2 order-lg-2 order-md-2 order-1">
                            <div class="btn-custom d-flex reverse">
                                <button [disabled]="loading" class="btn border-radius-20 position-relative text-light ml-auto 
                                px-xl-5 px-lg-4 px-md-4 px-5">
                                    <span *ngIf="loading">Loading...</span>
                                    <span *ngIf="!loading">Log in</span>
                                </button>
                                <button [disabled]="loading" class="btn border-radius-full text-light ml-2 position-relative d-xl-block d-lg-block d-md-block d-none">
                                    <span *ngIf="loading">
                                        <i class="fa fa-spin fa-spinner"></i>
                                    </span>
                                    <span *ngIf="!loading">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <div *ngIf="alert.message" class="alert alert-danger p-1" role="alert">
                            <small>
                                {{alert.message}}
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <span class="copyright text-light">copyright <i class="far fa-copyright"></i> applyfree 2020</span>
    </div>
</div>