::ng-deep body {
    overflow: hidden;
}

.background {
    background-image: url(/assets/images/bg-account.png), linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.form-control {
    box-shadow: none;
}

.bg-baloon {
    z-index: 2;
}

.w-15px {
    width: 15px;
}

.bg-duplicate {
    z-index: 2;
}

span.as-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}

.copyright {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .background {
        background-image: linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    }
    .border-radius-30 {
        border-radius: 5px;
    }
}

@media (max-width: 425px) {
    .ml-auto {
        margin: 0 auto;
    }
}