<div class="mt-5">
    <div *ngIf="loading" class="text-center text-muted">
        <div>
            <i class="fa fa-sync fa-spin"></i>
        </div>
        <div>
            Please wait ...
        </div>
    </div>

    <ng-container *ngIf="!loading && data">
        <ng-container *ngIf="data.length == 0">
            <div class="text-center text-muted">
                <h5>You do not have any reserved contracts!</h5>

                <a routerLink="/contracts" class="btn btn-primary mt-2">
                    Go find your contract
                </a>
            </div>
        </ng-container>
        <ng-container *ngIf="data.length > 0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Contract</th>
                            <th class="text-center th-action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let item of data">
                            <td>{{item.title}}</td>
                            <td>
                                <a class="btn btn-primary btn-sm mr-3" [routerLink]="['/contract', item.id]"
                                    [hidden]="inlineModal && selectedId == item.id">
                                    Details
                                </a>
                                <button class="btn btn-danger btn-sm" *ngIf="!item.hold"
                                    [hidden]="inlineModal && selectedId == item.id" (click)="confirm(item.id)">
                                    Remove
                                </button>

                                <ng-container *ngIf="inlineModal && selectedId == item.id">
                                    <ng-container *ngTemplateOutlet="delete"></ng-container>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #delete>
    Are you sure ? <button class="btn btn-sm btn-success">Yes</button> <button class="btn btn-sm btn-link"
        (click)="selectedId = null">Cancel</button>
    <div class="text-muted">
        <small>You will lose contract</small>
    </div>
</ng-template>