.form-control {
    box-shadow: none;
}

.dropdown {
    display: none;
}

.bg-duplicate {
    z-index: 2;
}

.bg-duplicate:before,
.bg-duplicate:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 335px;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-duplicate:before {
    background-image: url(/assets/images/bg2.png);
    left: 100%;
}

.bg-duplicate:after {
    background-image: url(/assets/images/bg3.png);
    right: 100%;
}

span.as-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 35%;
    right: 0;
}

span.as-shadow:before,
span.as-shadow:after {
    content: "";
    position: absolute;
    bottom: -208px;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(-1);
    margin-bottom: -60px;
    opacity: 0.1;
}

span.as-shadow::before {
    background-image: url(/assets/images/bg2.png);
    left: 100%;
}

span.as-shadow::after {
    background-image: url(/assets/images/bg3.png);
    right: 100%;
}

.bg-copyright::before {
    content: "applyfree \00A9 copyright 2020";
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, 0%);
}

.userRole:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

@media only screen and (max-width: 2560px) {
    span.as-shadow::after,
    span.as-shadow::before {
        top: 67%;
    }
}

@media only screen and (max-width: 1440px) {
    span.as-shadow::after,
    span.as-shadow::before {
        top: 58%;
    }
}

@media only screen and (max-width: 1024px) {
    span.as-shadow::after,
    span.as-shadow::before {
        top: 51%;
    }
}

@media only screen and (max-width: 768px) {
    .bg-duplicate:before,
    .bg-duplicate:after {
        display: none;
    }
}