<div class="row h-100 align-content-center bg-white">
    <div
        class="col-xl-4 col-lg-5 col-md-8 col-sm-8 col-10 shadow-lg p-5 bg-light mx-auto border-radius-30 bg-duplicate">
        <span class="as-shadow d-xl-block d-lg-block d-md-none d-sm-none d-none"></span>
        <div class="row">
            <div class="col-12 ">
                <div class="row mb-4">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 mx-auto text-center">
                        <a routerLink="/">
                            <img src="assets/images/logo.png" class="img-fluid" alt="applyfree">
                        </a>
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="setPassword(form.value)">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <input formControlName="password" id="password" minlength=6
                                    class="form-control bg-transparent border-right-0 border-left-0 border-top-0"
                                    type="password"
                                    [ngClass]="{'is-invalid' : submited && form.controls.password.invalid}"
                                    autocomplete="off" required />
                                <label for="password" class="form-control-placeholder">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-group">
                                <input formControlName="confirmPassword" id="confirmPassword" minlength=6
                                    class="form-control bg-transparent border-right-0 border-left-0 border-top-0"
                                    type="password"
                                    [ngClass]="{'is-invalid' : submited && form.controls.confirmPassword.invalid}"
                                    autocomplete="off" required />
                                <label for="confirmPassword" class="form-control-placeholder">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div
                            class="col-12 text-xl-right text-lg-right text-md-right text-sm-right 
                                 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3 order-xl-last order-lg-last order-md-last order-sm-last order-first">
                            <div class="float-right btn-custom reverse d-block">
                                <button [disabled]="loading"
                                    class="btn border-radius-20 position-relative text-light px-xl-4 px-lg-2 px-md-4 px-sm-5 px-1">
                                    <span *ngIf="loading">
                                        <i class="fa fa-spin fa-spinner"></i>
                                    </span>
                                    <span *ngIf="!loading">Update password</span>
                                </button>
                                <button class="btn border-radius-full text-light ml-2 position-relative">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<span class="bg-copyright text-muted"></span>