<div class="container-fluid h-100 pl-0">
    <div class="row h-100 p-0">
        <div class="col">
            <div class="text-center mt-5 pt-5" *ngIf="loading">
                <div>
                    <i class="fa fa-spin fa-spinner"></i>
                </div>

                <small class="text-muted">loading ...</small>
            </div>
            <form class="p-4">
                <div id="dropin-container"></div>

                <button *ngIf="!loading" class="btn btn-primary" id="submit-button">Purchase</button>
            </form>
        </div>
        <div class="col-9 bg-orangedark">
            <div class="">
                <h1>Purchase</h1>
            </div>
        </div>
    </div>
</div>