<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col">
            <div class="text-center my-5" *ngIf="loading">
                <div class="mb-3">
                    <i class="fa fa-spin fa-2x fa-spinner"></i>
                </div>

                loading ...
            </div>
            <form>
                <div id="dropin-container"></div>

                <button class="btn btn-primary" id="submit-button">submit</button>
            </form>
        </div>
        <div class="col-9 bg-orangedark"></div>
    </div>
</div>