#bg-section-1, #bg-section-2, #bg-section-3 , #bg-section-4{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-section-1 {
    background-image: url(src/assets/images/bg-section-1.png);
}

#bg-section-2 {
    background-image: url(src/assets/images/bg-section-2.png);
}

#bg-section-3 {
    background-image: url(src/assets/images/bg-section-3.png);
}

#bg-section-4 {
    background-image: url(src/assets/images/bg-section-4.png);
}



