<header>
    <div class="container position-relative z-index-1">
        <nav class="navbar navbar-expand-md pt-xl-4 pt-lg-4 pt-md-4 pt-sm-1">
            <a class="navbar-brand text-light" href="#">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-6 col-sm-3 col-5">
                        <img src="assets/images/logo-white.png" class="img-fluid" alt="applyfree">
                    </div>
                    <div class="col-xl-6 col-lg-1 col-md-1 col-sm-2 col-2 mt-4 pl-0 pt-2 d-none d-xl-block">
                        <div class="d-flex">
                            <span>applyfree</span>
                        </div>
                    </div>
                </div>
            </a>

            <div class="float-right">
                <div class="d-xl-none d-lg-none d-md-none d-sm-inline-block d-inline-block">
                    <button class="btn btn-sm btn-light text-dark" routerLink="/login">
                        <span>Log in</span>
                    </button>
                </div>
                <button class="navbar-toggler text-light d-xl-none d-lg-none d-md-none d-sm-inline-block d-inline-block"
                    type="button" (click)="sidebar = true">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="menu ml-auto" [ngClass]="{'show' : sidebar}">
                <div class="d-xl-none d-lg-none d-md-none d-sm-block d-block border-bottom py-3 px-2">
                    <button type="button" class="close" aria-label="Close" (click)="sidebar=false">
                        <i class="fas fa-times text-orangepink" aria-hidden="true"></i>
                    </button>
                    <div><span class="text-uppercase text-orangedark">applyfree</span></div>
                </div>

                <div class="navbar-nav mr-5">
                    <a class="nav-item text-light nav-link ml-3" [ngClass]="{'text-dark' : sidebar}"
                        routerLink="/landing" routerLinkActive="font-weight-bolder">Landing</a>
                    <a class="nav-item text-light nav-link ml-3" routerLinkActive="font-weight-bolder" routerLink="/"
                        [ngClass]="{'text-dark' : sidebar}" [routerLinkActiveOptions]="{ exact: true }"
                        (click)="sidebar=false">Programs</a>
                    <a class="nav-item text-light nav-link ml-3" [routerLink]="['/page', 'contact']"
                        [ngClass]="{'text-dark' : sidebar}" routerLinkActive="font-weight-bolder"
                        (click)="sidebar=false">Contact us</a>
                    <a class="nav-item text-light nav-link ml-3" [routerLink]="['/page', 'about']"
                        [ngClass]="{'text-dark' : sidebar}" routerLinkActive="font-weight-bolder"
                        (click)="sidebar=false">About us</a>
                </div>

                <div
                    class="d-xl-none d-lg-none d-md-none d-sm-block d-block w-100 text-center border-top py-1 position-absolute bottom-0">
                    <small class="text-muted">copyright applyfree</small>
                </div>
            </div>

            <div class="d-xl-inline-block d-lg-inline-block d-md-none d-sm-none d-none">
                <div class="btn-custom">
                    <button class="btn border-radius-20 px-lg-4 px-md-3 px-sm-5 px-4 position-relative"
                        routerLink="/login">
                        <span>Log in | Register</span>
                    </button>
                    <button class="btn border-radius-full ml-2 position-relative" routerLink="/login">
                        <span>
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>
                </div>

            </div>
            <div class="d-xl-none d-lg-none d-md-block d-sm-none d-none">
                <button class="btn btn-sm btn-light text-dark" routerLink="/login">
                    <span>Log in</span>
                </button>
            </div>
            <div class="menu-backdoor" [ngClass]="{'show' : sidebar}" (click)="sidebar = false"></div>
        </nav>
        <div class="row my-md-4 text-light mt-5 pb-5">
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-7 col-10 mx-auto order-last my-auto">
                <p class="text-light">Free education for students</p>
                <p class="my-2">
                    applyfree helps students and their parents find meaningful information beneficial to their education
                    path. Before applyfree, each student had to do extensive research and in most cases a purposeless
                    loop of googling with a lot of irrelevant - and in some
                    cases wrong - information awaiting them. Since applyfree, the whole research process has turned into
                    a meaningful search of available "contracts" that predict real meaningful actions. But who provides
                    these contracts? applyfree's search
                    engine is fueled by offerings from one of these groups: 1. school admins, 2. student recruiters and
                    consultants, 3. tutors and private teachers or 4. translators from anywhere in the world.
                </p>
                <div class="d-flex mt-md-0 mt-5 align-items-center mt-xl-4">
                    <div class="w-50">
                        <button
                            class="btn btn-xl-lg btn-lg-lg btn-sm text-uppercase btn-dark font-weight-lighter border-radius-30 px-xl-5 px-lg-5 px-md-5 px-sm-5 px-2"
                            routerLink="/contracts">Get
                            start</button>
                    </div>
                    <div class="w-50 text-md-center">
                        Take a tour ...
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-10 order-md-last ml-xl-auto my-md-auto">
                <img src="assets/images/header-landing.png" alt="applyfree" class="img-fluid">
            </div>
        </div>
    </div>
</header>

<main class="py-1">
    <section id="bg-section-1">
        <div class="container-fluid">
            <div class="row my-3 py-2">
                <div class="col-12 text-center">
                    <h4>How <span class="text-orangered">applyfree</span> is being used?</h4>
                </div>
            </div>
            <div
                class="row justify-content-center mx-auto my-xl-1 my-lg-5 my-md-5 my-sm-5 my-3 pt-xl-2 pb-xl-4 py-lg-4 py-md-4 py-sm-4 py-1">
                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-12 my-md-auto pr-md-0 my-lg-auto">
                    <img src="assets/images/landing-1.png" alt="landing-1" class="img-fluid">
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
                    <div
                        class="mt-xl-5 mt-lg-5 mt-md-3 mt-sm-5 mt-2 pt-xl-5 pt-lg-5 pt-md-3 pt-sm-5 pt-2 px-xl-5 px-lg-5 px-md-2 px-sm-5 px-3">
                        <h3 class="py-3">What happens in applyfree?</h3>
                        <p class="text-justify">
                            applyfree is being used to search for education specific offerings. On the other hand, it is
                            being used to create and publish searchable offerings as contracts. You can enter any
                            contract as the second party when you find it. After finding the right contract
                            for you, you're free to contact the first party in order to negotiate, bargain and
                            communicate whatever you like. At the end, if the first party, the user who has created the
                            contract, agrees to work with you, you'll have a
                            deal.
                        </p>
                        <div class="row mt-5">
                            <div class="col text-left">
                                <button
                                    class="btn btn-block btn-lg btn-success font-weight-lighter border-radius-30 px-xl-5 px-lg-5 px-md-3 px-sm-5 px-2"
                                    routerLink="/">Join
                                    us</button>
                            </div>
                            <div class="col text-center">
                                <p>veniam deserunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-section-2">
        <div class="container-fluid my-2 py-3">
            <div
                class="row mx-5 justify-content-center my-xl-5 my-lg-5 my-md-5 my-sm-5 my-5 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-1">
                <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 col-12">
                    <div
                        class="mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-2 my-auto pl-lg-0 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-2 px-xl-5 px-lg-5 px-md-2 px-sm-5 px-1">
                        <h3 class="py-3">What happens in applyfree?</h3>
                        <p>In applyfree, you can enter a deal, close the contract and export (i.e. print) your version
                            with both parties' signatures on it, all from your home. With your contract in hand, you are
                            able to seek those signed promises outside. with both parties' signatures on it, all from
                            your home. With your contract in hand, you are
                            able to seek those signed promises outside. with both parties' signatures on it, all from
                            your home. With your contract in hand, you are
                            able to seek those signed promises outside.
                        </p>
                        <div class="row mt-5">
                            <div class="col text-center">
                                <button
                                    class="btn btn-lg btn-info font-weight-lighter border-radius-30 px-xl-5 px-lg-5 px-md-2 px-sm-5 px-2 text-uppercase"
                                    routerLink="/">apply free</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12 col-12 my-md-auto">
                    <img src="assets/images/landing-2.png" alt="landing-3" class="img-fluid">
                </div>
               
            </div>
        </div>
    </section>
    <section id="bg-section-3">
        <div class="container-fluid my-3 py-3">
            <div
                class="row mx-5 justify-content-center my-xl-5 my-lg-5 my-md-5 my-sm-5 my-3 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-1">
                <div class="col-xl-5 col-lg-4 col-md-5 col-sm-12 col-12 my-lg-auto my-md-auto">
                    <img src="assets/images/landing-3.png" alt="landing-3" class="img-fluid">
                </div>
                <div
                    class="col-xl-4 col-lg-7 col-md-6 col-sm-12 col-12 pr-lg-0 my-auto px-xl-5 px-lg-5 px-md-3 px-sm-3 px-1">
                    <h3 class="py-3">What happens in applyfree?</h3>
                    <p>In applyfree, you can enter a deal, close the contract and export (i.e. print) your version with
                        both parties' signatures on it, all from your home. With your contract in hand, you are able to
                        seek those signed promises outside.
                    </p>
                    <div class="row mt-5">
                        <div class="col text-left">
                            <button
                                class="btn btn-block btn-lg btn-warning font-weight-lighter border-radius-30 px-xl-5 px-lg-5 px-md-3 px-sm-5 px-2 text-uppercase"
                                routerLink="/">start now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-section-4">
        <div class="container-fluid my-3 py-3">
            <div
                class="row mx-5 justify-content-center my-xl-5 my-lg-5 my-md-4 my-sm-5 my-3 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-1">
                <div class="col-xl-12 col-lg-12 col-md-10 col-sm-12 col-12 text-center">
                    <img src="assets/images/landing-4.png" alt="landing-3" class="img-fluid">
                </div>
                <div
                    class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 my-lg-auto mx-auto px-xl-5 px-lg-5 px-md-2 px-sm-5 px-1 pt-5">
                    <p>In applyfree, you can enter a deal, close the contract and export (i.e. print) your version with
                        both parties' signatures on it, all from your home. With your contract in hand, you are able to
                        seek those signed promises outside.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-9 text-center">
                    <h5>Why <span class="text-orangedark">applyfree</span>  is best?</h5>
                </div>
            </div>
            <div
                class="row justify-content-center mx-xl-5 mx-lg-5 mx-md-3 mx-sm-5 mx-2 my-xl-5 my-lg-5 my-md-5 my-sm-5 my-1 py-xl-4 py-lg-4 py-md-4 py-sm-4 py-1">
                <div
                    class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-12 text-center my-xl-0 my-lg-0 my-md-1 my-sm-2 my-2 mr-xl-5 mr-lg-5 mr-md-3 mr-sm-5 mx-auto">
                    <img src="assets/images/applyfree-small.png" class="img-fluid d-block mx-auto pb-3" alt="applyfree">
                    <img src="assets/images/free.png" alt="landing-3" class="img-fluid">
                    <div class="my-3">
                        <h5 class="text-uppercase">this service is free</h5>
                        <p>
                            both parties' signatures on it, all from your home. With your contract in hand
                        </p>
                    </div>
                </div>
                <div
                    class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-12 text-center my-xl-0 my-lg-0 my-md-1 my-sm-2 my-4 mx-xl-5 mx-lg-5 mx-md-3 mx-sm-5 mx-auto">
                    <img src="assets/images/applyfree-small.png" class="img-fluid d-block mx-auto pb-3" alt="applyfree">
                    <img src="assets/images/diamond.png" alt="landing-3" class="img-fluid">
                    <div class="my-3">
                        <h5 class="text-uppercase">your data is safe</h5>
                        <p>
                            both parties' signatures on it, all from your home. With your contract in hand
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-2 col-12 text-center mb-xl-0 mb-lg-0 mb-md-1 mb-sm-2 mb-2 mt-xl-0 mt-lg-0 mt-md-1 mt-sm-3 mt-3
                 ml-xl-5 ml-lg-5 ml-md-3 ml-sm-5 mx-auto">
                    <img src="assets/images/applyfree-small.png" class="img-fluid d-block mx-auto pb-3" alt="applyfree">
                    <img src="assets/images/money.png" alt="landing-3" class="img-fluid">
                    <div class="my-3">
                        <h5 class="text-uppercase">ai technology</h5>
                        <p>
                            both parties' signatures on it, all from your home. With your contract in hand
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container position-relative z-index-1">
        <div class="row text-light d-xl-flex d-lg-flex d-md-none d-sm-none d-none">
            <div
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0 text-center">
                <h5>
                    <b>
                        Quick access
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="p-2">
                        <a class="text-light" [routerLink]="['/page', 'terms']">
                            Terms and conditions
                        </a>
                    </li>
                    <li class="p-2">
                        <a class="text-light" [routerLink]="['/page', 'policy']">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0 text-center">
                <h5>
                    <b>
                        Quick access
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="p-2">
                        <a class="text-light" [routerLink]="['/page', 'terms']">
                            FAQ
                        </a>
                    </li>
                    <li class="p-2">
                        <a class="text-light" [routerLink]="['/landing']">
                            Landing
                        </a>
                    </li>
                </ul>
            </div>
            <div
                class="col-xl-5 col-lg-4 col-md-4 col-sm-5 col-12 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0 text-center">
                <h5>
                    <b>
                        applyfree departments
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                    <li class="p-2">Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                </ul>
            </div>
            <div
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0 text-center">
                <h5>
                    <b>
                        Quick access
                    </b>
                </h5>
                <ul class="list-unstyled">
                    <li class="p-2"><a class="text-light" [routerLink]="['/page', 'about']">About us</a></li>
                    <li class="p-2"><a class="text-light" [routerLink]="['/page', 'contact']">Contact us</a></li>
                    <li class="p-2"><a class="text-light" [routerLink]="['/']">Programs</a></li>
                </ul>
            </div>
            <div
                class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-12 pt-xl-5 pt-lg-5 pt-md-5 pt-sm-5 pt-1 mt-xl-5 mt-lg-5 mt-md-5 mt-sm-5 mt-0 text-center">
                <h5>
                    <b>
                        Social
                    </b>
                </h5>
                <i class="fab fa-instagram text-light fa-2x p-2"></i>
                <a href="https://www.linkedin.com/company/applyfree/">
                    <i class="fab fa-linkedin text-light fa-2x p-2"></i>
                </a>
                <i class="fab fa-twitter text-light fa-2x p-2"></i>
                <i class="fab fa-facebook text-light fa-2x p-2"></i>
            </div>
        </div>
        <div class="row d-xl-none d-lg-none d-md-block d-sm-block d-block">
            <div class="row justify-content-center mr-1 pt-5">
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/page', 'about']">About us</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/page', 'contact']">Contact us</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/']">Programs</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/pupage', 'policy']">Privacy Policy</a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-10 col-10 text-center">
                    <a class="text-light" [routerLink]="['/page', 'terms']">Terms and conditions</a>
                </div>
            </div>
            <div class="row justify-content-center mr-1 py-4">
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <i class="fab fa-instagram text-light fa-2x p-2"></i>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <a href="https://www.linkedin.com/company/applyfree/">
                        <i class="fab fa-linkedin text-light fa-2x p-2"></i>
                    </a>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <i class="fab fa-twitter text-light fa-2x p-2"></i>
                </div>
                <div class="col-xl-0 col-lg-0 col-md-2 col-sm-2 col-2">
                    <i class="fab fa-facebook text-light fa-2x p-2"></i>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h4 class="text-light text-center font-weight-light">Powered by applyfree</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/images/building-footer.png" alt="applyfree" class="img-fluid">
            </div>
        </div>
    </div>
</footer>