header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(/assets/svg/header-full.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
}

#bg-section-1,
#bg-section-2,
#bg-section-3,
#bg-section-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: auto;
}

#bg-section-1 {
    background-image: url(/assets/images/bg-section-1.png);
}

#bg-section-2 {
    background-image: url(/assets/images/bg-section-2.png);
}

#bg-section-3 {
    background-image: url(/assets/images/bg-section-3.png);
}

#bg-section-4 {
    background-image: url(/assets/images/bg-section-4.png);
}

.menu-backdoor {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
}

.menu {
    transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
    .menu-backdoor.show {
        display: block;
    }
    .menu {
        position: fixed;
        left: -80%;
        top: 0;
        height: 100%;
        width: 80%;
        background-color: var(--orangelight);
        z-index: 3;
    }
    .menu.show {
        left: 0;
    }
     ::ng-deep .z-index-effect {
        z-index: 0;
    }
}