<div class="container mt-5">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="filters px-2">
                <div class="program mb-5">
                    <button class="btn btn-warning w-100" type="button" data-toggle="collapse" data-target="#Program"
                        aria-expanded="false" aria-controls="Program">
                        <span class="text-left mr-5 pr-5">
                            <i class="far fa-file-powerpoint pr-2"></i>
                            Program
                        </span>
                        <span class="text-right">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </button>
                    <div class="collapse show" id="Program">
                        <div class="card card-body locationCard">
                            <div id="programCategory" class="my-2">
                                <label class="text-muted">Program Category</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.category.result ? inputes.category.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="category">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.category.value" placeholder="Category">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.category.result=item"
                                            *ngFor="let item of category | filter :inputes.category.value;">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="programSubCategory" class="my-2">
                                <label class="text-muted">Program Sub Category</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="subCategory" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span>
                                            {{inputes.subCategory.result ? inputes.subCategory.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="subCategory">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.subCategory.value" placeholder="Sub Category">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.subCategory.result=item"
                                            *ngFor="let item of category | filter : inputes.subCategory.value;">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="programDegree" class="my-2">
                                <label class="text-muted">Degree</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="degree" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.degree.result ? inputes.degree.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="degree">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.degree.value" placeholder="Degree">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.degree.result=item"
                                            *ngFor="let item of degree | filter: inputes.degree.value">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="programLength" class="my-2">
                                <label class="text-muted">Length of program</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="length" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.length.result ? inputes.length.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="length">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.length.value" placeholder="Length">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.length.result=item"
                                            *ngFor="let item of lenght | filter: inputes.length.value">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="submissionDeadline" class="my-2">
                                <div class="form-group">
                                    <label for="submissionDeadline" class="text-muted">Submission Deadline</label>
                                    <input type="date" class="form-control" id="submissionDeadline">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="school mb-5">
                    <button class="btn btn-warning w-100" type="button" data-toggle="collapse" data-target="#school"
                        aria-expanded="false" aria-controls="school">
                        <span class="text-left mr-5 pr-5">
                            <i class="fas fa-school pr-2"></i>
                            School
                        </span>
                        <span class="text-right">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </button>
                    <div class="collapse" id="school">
                        <div class="card card-body">
                            <div id="schoolCountry" class="my-2">
                                <label class="text-muted">Country</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="school" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.country.result ? inputes.country.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="school">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.country.value" placeholder="Country"
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.country.result = country"
                                            *ngFor="let country of countries | filter : inputes.country.value">
                                            {{country.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="schoolCity" class="my-2" *ngIf="inputes.country.result">
                                <label class="text-muted">City</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="city" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.city.result ? inputes.city.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="city">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control" [(ngModel)]="inputes.city.value"
                                                    placeholder="City" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer"
                                            *ngFor="let city of inputes.country.result.states | filter : inputes.city.value;"
                                            (click)="inputes.city.result = city">
                                            {{city.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="universityTitle" class="my-2">
                                <label class="text-muted">University</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="university" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span>
                                            {{inputes.university.result ? inputes.university.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="university">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="inputes.university.value" placeholder="University">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.university.result=item"
                                            *ngFor="let item of university | filter : inputes.university.value;">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="universityType" class="my-2">
                                <label class="text-muted">University Type</label>
                                <div class="dropdown">
                                    <button class="btn btn-outline-muted dropdown-toggle text-left w-100" type="button"
                                        id="type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>
                                            {{inputes.type.result ? inputes.type.result.name : 'Choose...'}}
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-filter w-100 py-0" aria-labelledby="type">
                                        <div class="position-sticky top-0 bg-white py-2">
                                            <div class="input-group mb-2 px-3">
                                                <input type="text" class="form-control" [(ngModel)]="inputes.type.value"
                                                    placeholder="Type">
                                            </div>
                                        </div>
                                        <div class="dropdown-item pointer" (click)="inputes.type.result=item"
                                            *ngFor="let item of university | filter : inputes.type.value;">
                                            {{item.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="opt" class="my-2">
                                <label class="text-muted">OPT</label>
                                <div class="input-group px-3">
                                    <div class="mr-3">
                                        <input type="checkbox">
                                        <span class="pl-2">Yes</span>
                                    </div>
                                    <div class="ml-4">
                                        <input type="checkbox">
                                        <span class="pl-2">No</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Cost mb-5">
                    <label>Cost</label>


                    <form>
                        <div class="form-group">
                          <label for="formControlRange">Example Range input</label>
                          <input type="range" class="form-control-range" id="formControlRange">
                        </div>
                      </form>


                    <div id="tuition" class="mb-4 mt-2">
                        <div class="form-group">
                            <label class="text-muted">Tuition</label>
                            <input type="range" min="1" max="1000" class="form-control-range">
                            <!-- <span class="badge badge-success float-right font-weight-lighter p-1">Tuition</span> -->
                        </div>
                    </div>
                    <div id="costOfLiving">
                        <div class="form-group">
                            <label class="text-muted">Cost of Living</label>
                            <input type="range" min="1" max="1000" class="form-control-range">
                            <!-- <span class="badge badge-success float-right font-weight-lighter p-1">Cost of Living</span> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 z-index-effect">
            <div class="row position-relative z-index-effect">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="SEARCH YOUR PROGRAM ...">
                    <div class="input-group-append z-index-0">
                        <button class="btn input-group-text">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="mx-2 pr-4">
                    <button class="btn btn-orangedark-outline rounded-pill">
                        admission free
                        <input type="radio">
                    </button>

                </div>
                <div>
                    <button class="btn btn-orangedark-outline rounded-pill">
                        application Fee free
                        <input type="radio">
                    </button>

                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 my-4" *ngFor="let item of programs">
                    <div class="card-deck">
                        <div class="card">
                            <img [src]="item.image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text">{{item.description}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>