.card>img {
    position: absolute;
    top: -23px;
    width: 50px;
    left: 19px;
    border: solid 2px #ccc;
}

.card table {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.nav-item {
    display: grid;
    align-content: center;
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: var(--dark);
    color: #fff;
}

.dropdown-item ul li:hover {
    color: var(--gray);
}