<div class="container h-100">
    <div class="row align-content-center h-100">
        <div class="col-10 mx-auto">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-5 text-center ">
                            <img src="assets/images/failed.png" alt="success payment" class="img-fluid">
                        </div>
                        <div class="col-5 my-auto pt-5">
                            <div class="text-center">
                                <h2 class="mb-4">Ooops! ... Payment failed</h2>
                                <div class="d-flex justify-content-center text-capitalize my-3 py-3">
                                    <i class="far fa-times-circle fa-2x text-danger"></i>
                                    <h3 class="text-danger px-2">
                                        Your payment was failed, please try again
                                    </h3>
                                </div>
                                <h5>
                                    tracking code :123456
                                </h5>
                                <button class="btn btn-danger my-4">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>