.number {
    background-color: var(--orangedark);
    width: 35px;
    height: 35px;
}

.number::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 46px;
    border-left: 25px solid transparent;
    border-top: 16px solid var(--orangedark);
    transform: rotate(-144deg);
    border-radius: 47px 0 0 0;
}

#bg-pages {
    background-image: url(src/assets/images/bg-pages.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}