<div class="container-fluid h-100">
    <div class="row align-content-center h-100" id="bg-404">
        <div class="col-10 mx-auto">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-3 col-md-auto col-sm-12 col-12 my-auto">
                            <div class="text-center">
                                <h1>Oooops <span><i class="fa fa-exclamation rotate--7 mr-1"></i><i class="fa fa-exclamation rotate-7"></i></span></h1>
                                <h1>4<span class="px-2"><img src="assets/images/applyfree404.png" class="img-fluid"  alt="404!"></span>4</h1>
                                <span>This page not found</span>
                            </div>
                            <div class="d-flex justify-content-around mt-4">
                                <div class="mr-md-2">
                                    <a class="text-dark font-weight-bold" [routerLink]="['/']">Home</a>
                                </div>
                                <div class="mr-md-2 col-md-auto">
                                    <a class="text-dark font-weight-bold" [routerLink]="['/page', 'contact']">Contact us</a>
                                </div>
                                <div >
                                    <a class="text-dark font-weight-bold" [routerLink]="['/dashboard']">dashboard</a>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <small>powered by applyfree</small>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-auto col-sm-12 col-12 text-center order-xl-last order-lg-last order-sm-first order-first ml-lg-5 my-sm-3 my-3">
                            <img src="assets/images/404.png" class="img-fluid" alt="Not found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>