.container-fluid {
    height: 32vh;
}

.img-banner {
    position: relative;
    top: -180px;
    height: 50vh;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%!important;
    display: block;
    padding: 15px;
    border-bottom: solid 1px;
    z-index: 1;
}

.banner {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0px;
    z-index: 0;
    opacity: 32%;
}

.container>div.row.header-info {
    position: absolute;
    top: 170px;
}

.banner {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
}

.bookmarked {
    background-color: var(--danger);
    color: var(--white);
}