<!-- <div class="container mt-4">
    <div>
        <img [src]="'http://192.168.3.65/applyfree/img/banner/'+school.banner" class="img-fluid" alt="">
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Contracts</a></li>
            <li class="breadcrumb-item"><a href="#">U.s Programs</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ProgramDetail.title}}</li>
        </ol>
    </nav>

    <div class="card border-0">
       
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-light">
                               
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <img class="card-img-top" [src]="'http://192.168.3.65/applyfree/img/logo/'+school.logo">
                                <div class="card-body">
                                    <h5 class="card-title">{{school.title}}</h5>
                                  
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 col-6 pl-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-light">


                                <div class="card">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" *ngFor="let item of intakes">
                                            {{item.start_date | date}}
                                            {{item.submission | date}}
                                        </li>
                                    </ul>
                                </div>



                                <div class="card">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to
                                            additional
                                            content.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                                            et
                                            laudantium
                                            beatae impedit rerum? Earum laboriosam quos, architecto corrupti
                                            possimus
                                            pariatur cum
                                            repellat numquam, sed dolorum optio quia cumque assumenda.
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
                                            praesentium fuga
                                            magni,
                                            maxime sunt aliquam consectetur amet, nihil eum iste ducimus optio
                                            suscipit
                                            architecto
                                            vero eos, assumenda deserunt odit? Consectetur!
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illum
                                            consequatur,
                                            voluptates autem debitis odio. Ducimus est officiis fuga reiciendis eius
                                            quidem
                                            aspernatur expedita quo maiores ut quibusdam, voluptas mollitia!Loremlo
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe?
                                            Laboriosam,
                                            molestiae blanditiis. Dignissimos sapiente quod reprehenderit placeat?
                                            Neque
                                            enim
                                            blanditiis expedita repellat assumenda voluptatem nam minima obcaecati
                                            inventore
                                            voluptatum.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->