<ng-container *ngIf="loading">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-12 text-center">
                <div class="d-flex">
                    <span class="ml-auto text-muted py-3">{{progress.description}}</span>
                </div>
                <ngb-progressbar type="danger" [value]="progress.loading" [striped]="true" [animated]="true">
                    <i>{{progress.loading}}%</i></ngb-progressbar>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loading && program">
    <div class="container-fluid px-0">
        <div class="img-banner bg-dark w-100">
            <div class="banner" [ngStyle]="{'background-image': 'url('+ url.banner + program.school.id+'.jpg)'}">
            </div>
            <div class="container">
                <div class="row header-info w-75">
                    <div class="col-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent">
                                <li class="breadcrumb-item"><a [routerLink]="['/public/programs']" class="text-light">Programs</a>
                                </li>
                                <li class="active breadcrumb-item d-inline text-light text-truncate w-75" aria-current="page">{{program.title}}</li>
                            </ol>
                        </nav>
                        <div class="row text-light my-4 mx-3">
                            <div class="col-1 px-0">
                                <i class="fas fa-university fa-3x"></i>
                            </div>
                            <div class="col pt-1">
                                <h1 class="mt-2 h4 m-0">{{program.title}}</h1>
                                <h5 class="mt-2 m-0">{{program.school.title}}</h5>
                            </div>
                        </div>

                        <div class="row text-light mx-3">
                            <div class="col-1">
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                            </div>
                            <div class="col-9 pt-1">
                                <h6 class="m-0">
                                    {{program.school.country}} , {{program.school.state}} , {{program.school.city}}
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 my-auto float-right">
                        <a class="btn btn-sm btn-outline-light mt-2" *ngIf="program.school" target="_blank" [href]="program.school.googleMap">see on googlemap</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row my-4">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-10 col-10 order-xl-first order-lg-first order-md-first order-sm-last order-last">
                <div class="card shadow border-0 border-radius-20 sticky-top">
                    <img onerror="this.onerror=null;this.src='/assets/images/logo.png';" [src]="url.logo + program.school.id+'.png'" class="img-fluid mx-auto w-75" [alt]="program.school.title">

                    <div class="card-body py-0">
                        <ul class="list-group list-group-flush text-center py-0">
                            <li class="list-group-item text-left">
                                <p>{{program.school.address}}</p>
                            </li>
                            <li class="list-group-item py-4 text-success" *ngIf="program.school.free_admission">
                                <h5 class="m-0">
                                    Free admission
                                </h5>
                            </li>
                            <li class="list-group-item py-4 text-success" *ngIf="program.school.opt">
                                <h5 class="m-0">
                                    CO-OP
                                </h5>
                                <div>
                                    <small class="text-muted">(Co-Operation Program)</small>
                                </div>
                            </li>
                            <!-- <li class="list-group-item py-4">
                                        <b>{{program.school.type | type }}</b>
                                    </li> -->
                            <li class="list-group-item py-4 rounded-pill">
                                <b>{{program.school.type | type }}</b>
                                <!-- <i class="fas fa-phone-alt mr-2"></i> +123456789 -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-10 col-10 order-xl-last order-lg-last order-md-last order-sm-first order-first pl-5">
                <div class="row">
                    <div class="col mb-4">
                        <h3 class="m-0">Information</h3>
                    </div>

                    <div class="col-3 text-right mb-4">
                        <button class="btn btn-outline-danger btn-block" (click)="bookmark()" [ngClass]="{'bookmarked':bookmarked}">
                            <i class="far fa-heart pr-2"></i>
                            Bookmark
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="py-3">
                            <fieldset class="border">
                                <legend class="text-orangedark sticky-header">
                                    <b class="mx-4">
                                        Intakes
                                    </b>
                                </legend>
                                <table class="table table-hover text-center table-striped">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 border-bottom-0">Start date</th>
                                            <th class="border-top-0 border-bottom-0">Submission date</th>
                                            <th class="border-top-0 border-bottom-0">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of program.intakes">
                                            <td class="py-3" *ngIf="item.start_date!==null">
                                                <time [attr.datetime]="item.start_date">
                                                    <h3 class="h6 mb-0">
                                                        {{item.start_date | date}}
                                                    </h3>
                                                </time>
                                            </td>
                                            <td class="py-3" *ngIf="item.submission!==null">
                                                <time [attr.datetime]="item.submission">
                                                    <h3 class="h6 mb-0">
                                                        {{item.submission | date}}
                                                    </h3>
                                                </time>
                                            </td>
                                            <td class="py-3" *ngIf="item.submission==null"><button class="btn far fa-question-circle text-warning" placement="bottom" ngbTooltip="Unknown" tooltipClass="bg-tooltip"></button>
                                            </td>
                                            <td *ngIf="item.start_date!==null">
                                                <a class="btn btn-orangedark" [routerLink]="['/public/contract', item.id]">apply</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                        <div class="py-3">
                            <fieldset class="border p-2">
                                <legend class="text-orangedark w-auto">
                                    <b class="mx-4">
                                        Cost
                                    </b>
                                </legend>
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0 border-bottom-0">Tuition / year</th>
                                            <th class="border-top-0 border-bottom-0">Application fee</th>
                                            <th class="border-top-0 border-bottom-0">Cost of living / year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-3 text-primary">
                                                {{program.tuition_year | currency}}
                                            </td>
                                            <td class="py-3">
                                                <span *ngIf="program.fee == 0" class="text-success">
                                                    Free
                                                </span>
                                                <span *ngIf="program.fee > 0" class="text-primary">
                                                    {{program.fee | currency}}
                                                </span>
                                            </td>
                                            <td class="py-3 text-primary">
                                                {{program.cost_living_year | currency}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                        <div class="py-4 px-3">
                            <div class="row">
                                <div class="col px-0">
                                    <fieldset class="border p-2">
                                        <legend class="text-orangedark w-auto">
                                            <b class="mx-4">
                                                Specification
                                            </b>
                                        </legend>
                                        <div class="row justify-content-center px-1">
                                            <div class="col-4 d-flex bg-ice py-3 mr-3 my-3 align-self-center border-radius-10">
                                                Degree
                                            </div>
                                            <div class="col-7 d-flex py-3 align-self-center bg-ice ml-3 my-3 border-radius-10">
                                                {{program.degree | degree}}
                                            </div>
                                            <div class="col-4 d-flex py-3 align-self-center bg-ice mr-3 mb-3 border-radius-10">
                                                Length of program
                                            </div>
                                            <div class="col-7 d-flex py-3 align-self-center bg-ice ml-3 mb-3 border-radius-10">
                                                {{program.length}} Month
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>