<div class="container">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h6>What kind of contracts do you want?</h6>

            <div class="d-flex mt-4">
                <div class="w-auto mr-2" *ngFor='let item of contracts' (click)="form.filter = item.id">
                    <div class="card pointer" [ngClass]="{'bg-primary': form.filter == item.id}">
                        <div class="card-body">
                            <h6 class="text-capitalize" [ngClass]="{'text-white': form.filter == item.id, 'text-primary': form.filter != item.id}">{{item.title}}</h6>
                            <p [ngClass]="{'text-white': form.filter == item.id, 'text-muted': form.filter != item.id}">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex mt-3">
                <div class="w-auto align-self-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input pointer" [value]="1" id="contractTypeFree" name="type" [(ngModel)]="form.type">
                        <label class="custom-control-label pointer" for="contractTypeFree">Free</label>
                    </div>
                </div>
                <div class="w-auto ml-4 align-self-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input pointer" [value]="2" id="contractTypePremium" name="type" [(ngModel)]="form.type">
                        <label class="custom-control-label pointer" for="contractTypePremium">Premium</label>
                    </div>
                </div>
                <div class="w-50 ml-auto align-self-center">
                    <span class="ml-5">
                        <input type="range" min="1" max="30" class="form-control-range" [(ngModel)]="form.days">
                    </span>
                    <span class="badge badge-primary float-right font-weight-lighter p-1">{{form.days}} days to expire</span>
                </div>
            </div>

            <hr>

            <div class="text-left">
                <button class="btn btn-primary btn-lg" (click)="reload()">
                    Find my contract
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="results.length == 0">
            <div class="text-center p-5">
                <h5>We are sorry , there is no contracts match with your filters ...</h5>

                <div class="mt-3">
                    <button class="btn btn-warning">
                        Notify me if this search has result
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4" *ngFor='let item of results'>
            <div class="card">
                <div class="card-header">
                    {{item.title}}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Type: {{item.type | contractType}}
                        </li>
                        <li class="list-group-item">
                            Reserved: {{item.lockBy | bool}}
                        </li>
                        <li class="list-group-item" *ngIf="item.type > 1">
                            Price: {{item.price}}$
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-danger">
                    <span *ngIf="item.days > 0">
                        expire in <b>{{item.days}}</b> days
                    </span>
                    <span *ngIf="item.days == 0">
                        Expired
                    </span>


                    <a class="btn btn-sm btn-success float-right" [routerLink]='[ "/contract", item.id] '>
                        Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>