<a routerLink="/dashboard/contracts" class="btn btn-secondary">
    <i class="fa fa-chevron-left"></i>
    Back
</a>

<form class="mt-3 border p-3" (ngSubmit)="proccess()">
    <div class="form-group">
        <label for="title">Contract name <span class="text-danger">*</span></label>
        <input type="text" id="title" [(ngModel)]="form.title" [ngModelOptions]="{standalone: true}"
            class="form-control" [ngClass]="{'is-invalid': alert && alert.return == 301}" autocomplete="off" required />
        <small class="form-text">
            <span *ngIf="alert && alert.return == 301" class="text-danger">
                This contract name already exist!
            </span>
            <span *ngIf="!alert" class="text-muted">
                contract name is important because will search by others, also is unique
            </span>
        </small>

        <button class="btn btn-primary mt-3 float-right">
            <span *ngIf="loading">
                <i class="fa fa-spin fa-spinner"></i>
            </span>
            <span *ngIf="!loading">
                Next
                <i class="fa fa-chevron-right"></i>
            </span>
        </button>
    </div>
</form>