<!-- <a routerLink="/">home</a>
<a routerLink="/report">report</a>
<a routerLink="/contracts">contracts</a>
<a routerLink="/search">search</a>

<a routerLink="/account/login">login</a>
<a routerLink="/account/signup">signup</a>
<a routerLink="/account/forgot">forgot</a>

<a routerLink="/dashboard/contracts">contracts</a>
<a routerLink="/dashboard/signatures">signatures</a>
<a routerLink="/dashboard/bookmarks">bookmarks</a>
<a routerLink="/dashboard/payments">payments</a> -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>