<div class="container">
    <ng-container *ngIf="!loading">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h3 class="text-orangedark text-center mt-3 mb-5">applyfree advisors</h3>
                        <div class="input-group mx-auto">
                            <input type="search" id="search"
                                class="border-top-0 border-right-0 border-left-0 form-control" placeholder="Search ...">
                        </div>
                        <table class="table table-hover text-center table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0 border-bottom-0">Group Code</th>
                                    <th class="border-top-0 border-bottom-0">Limitations</th>
                                    <th class="border-top-0 border-bottom-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of agents">
                                    <td class="py-3">
                                        {{item.code}}
                                    </td>
                                    <td class="py-3">
                                        {{item.limitations}}
                                    </td>
                                    <td>
                                        <button class="btn btn-orangedark" (click)="join(item.code)">Join</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-12 text-center" *ngIf="loading">
        <div class="d-flex">
            <span class="ml-auto text-muted py-3">{{progress.description}}</span>
        </div>
        <ngb-progressbar type="danger" [value]="progress.loading" [striped]="true" [animated]="true">
            <i>{{progress.loading}}%</i></ngb-progressbar>
    </div>
</div>