<div class="container">
    <ng-container *ngIf="!loading">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <h3 class="text-orangedark mt-3 mb-5">Our advisors</h3>
                            <p class="px-5 mx-5 text-muted">
                                Our advisors are the ones who will give you the best option to continue your education, and also when you are not available, they will act as your lawyer.
                            </p>
                        </div>
                        <div class="input-group mx-auto">
                            <input type="search" id="search" class="border-top-0 border-right-0 border-left-0 form-control border-radius-0" [(ngModel)]="input.advisor.value" placeholder="Search ...">
                        </div>
                        <table class="table table-hover text-center table-striped">
                            <thead>
                                <tr>
                                    <th class="border-top-0 border-bottom-0">Group Code</th>
                                    <th class="border-top-0 border-bottom-0">Limitations</th>
                                    <th class="border-top-0 border-bottom-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of agents | filter : input.advisor.value : 'code' ;">
                                    <td class="py-3">
                                        {{item.code}}
                                    </td>
                                    <td class="py-3">
                                        {{item.limitations}}
                                    </td>
                                    <td>
                                        <button class="btn btn-orangedark" (click)="join(item.code)">Join</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="col-12 text-center" *ngIf="loading">
        <div class="d-flex">
            <span class="ml-auto text-muted py-3">{{progress.description}}</span>
        </div>
        <ngb-progressbar type="danger" [value]="progress.loading" [striped]="true" [animated]="true">
            <i>{{progress.loading}}%</i></ngb-progressbar>
    </div>
</div>