<div class="mt-5">
    <router-outlet></router-outlet>

    <ng-container *ngIf="this.router.url == '/dashboard/contracts'">
        <div *ngIf="loading" class="text-center text-muted">
            <div>
                <i class="fa fa-sync fa-spin"></i>
            </div>
            <div>
                Please wait ...
            </div>
        </div>

        <ng-container *ngIf="!loading && data">
            <ng-container *ngIf="data.length == 0">
                <div class="text-center text-muted">
                    <h5>You do not have any contract!</h5>

                    <a routerLink="/dashboard/contracts/new" class="btn btn-primary mt-2">
                        Add your first contract
                    </a>
                </div>
            </ng-container>
            <ng-container *ngIf="data.length > 0">

                <a routerLink="/dashboard/contracts/new" class="btn btn-primary mb-2">
                    New contract
                </a>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="th-number"></th>
                                <th class="text-center">Title</th>
                                <th class="text-center th-bool">Type</th>
                                <th class="text-center th-bool">Status</th>
                                <th class="text-center th-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of data;index as i">
                                <tr class="text-center"
                                    [ngClass]="{'table-warning': item.status == 1, 'table-success': item.status >= 3}">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.type | contractType}}</td>
                                    <td class="text-truncate">{{item.status | status}}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm mr-3" [routerLink]="['/contract', item.id]"
                                            [hidden]="inlineModal && selectedId == item.id">
                                            Preview
                                        </a>

                                        <a class="btn btn-success btn-sm" *ngIf="item.isParty && !item.payment || !item.payment.success"
                                            (click)="pay(item)">
                                            Pay
                                        </a>

                                        <a class="btn btn-warning btn-sm"
                                            *ngIf="item.isParty && item.payment && item.payment.success"
                                            [href]="'http://localhost/applyfree/download/' + item.id + '.pdf'">
                                            Print
                                        </a>

                                        <a class="btn btn-warning btn-sm mr-3" *ngIf="item.status < 1"
                                            [hidden]="inlineModal && selectedId == item.id"
                                            [routerLink]="['/dashboard/contracts/modify', item.id]">
                                            Edit
                                        </a>
                                        <button class="btn btn-danger btn-sm" *ngIf="item.status < 1"
                                            [hidden]="inlineModal && selectedId == item.id" (click)="confirm(item.id)">
                                            Remove
                                        </button>

                                        <ng-container *ngIf="inlineModal && selectedId == item.id">
                                            <ng-container *ngTemplateOutlet="delete"></ng-container>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr [hidden]="item.payment && item.payment.success">
                                    <td colspan="6" class="p-3" *ngIf="item.isOwner">
                                        <div class="alert alert-warning p-2 m-0"
                                            *ngIf="item.lockBy > 0 && !item.secondPartyConfirm">
                                            The contract has been reserved by <a href="#">{{item.user.firstName}}
                                                {{item.user.lastName}}</a>
                                        </div>
                                        <div class="alert alert-info p-2 m-0"
                                            *ngIf="item.lockBy > 0 && item.secondPartyConfirm && !item.firstPartyConfirm">
                                            <a href="#">{{item.user.firstName}}
                                                {{item.user.lastName}}</a> already accept or paid the contract, it's
                                            right?

                                            <button class="btn btn-sm btn-success" [disabled]="btnLoading"
                                                (click)="agreement(item)">
                                                <span *ngIf="btnLoading">
                                                    <i class="fa fa-spin fa-spinner"></i>
                                                </span>
                                                <span *ngIf="!btnLoading">
                                                    Yes
                                                </span>
                                            </button>

                                            <button class="btn btn-sm btn-danger ml-2" [disabled]="btnLoading">
                                                No
                                            </button>
                                        </div>

                                        <div class="text-success" *ngIf="item.firstPartyConfirm">
                                            <small>You verify the second party to this contract, and <a
                                                    href="#">{{item.user.firstName}}
                                                    {{item.user.lastName}}</a> can export the contract</small>
                                        </div>
                                    </td>
                                    <td colspan="6" class="p-3" *ngIf="item.isParty">
                                        <div class="alert alert-success p-2 m-0"
                                            *ngIf="item.firstPartyConfirm && item.secondPartyConfirm && !item.payment || !item.payment.success">
                                            pay 10$ to get copy of the contract
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <small class="text-muted">
                    Please wait until your contract verified
                </small>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #delete>
    Are you sure ? <button class="btn btn-sm btn-success">Yes</button> <button class="btn btn-sm btn-link"
        (click)="selectedId = null">Cancel</button>
    <div class="text-muted">
        <small>It will not be reversible</small>
    </div>
</ng-template>