<div class="row h-100 align-content-center justify-content-around bg-white">
    <div class="col-3 align-self-end">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Student!</h4>
            <p>Student account is useful for those who want to apply to a higher degree themselves. This type of account is limited to one person use only.</p>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8 col-10 shadow-lg px-5 pt-5 pb-4 bg-light border-radius-30 bg-duplicate">
        <span class="as-shadow d-xl-block d-lg-block d-md-none d-sm-none d-none"></span>
        <div class="row">
            <div class="col-12 ">
                <div class="row mb-4">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 mx-auto text-center">
                        <a routerLink="/programs">
                            <img src="assets/images/logo.png" class="img-fluid" alt="applyfree">
                        </a>
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="register(form.value)">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <input formControlName="firstName" id="firstName" class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="text" autocomplete="off" [ngClass]="{'is-invalid' : submited && form.controls.firstName.invalid}" required />
                                <label for="firstName" class="form-control-placeholder">First Name</label>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <input formControlName="lastName" id="lastName" class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="text" autocomplete="off" [ngClass]="{'is-invalid' : submited && form.controls.lastName.invalid}" required />
                                <label for="lastName" class="form-control-placeholder">Last Name</label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <input formControlName="password" id="password" minlength=6 class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="password" [ngClass]="{'is-invalid' : submited && form.controls.password.invalid}" autocomplete="off" required
                                />
                                <label for="password" class="form-control-placeholder">Password</label>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <input formControlName="confirmPassword" id="confirmPassword" minlength=6 class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="password" [ngClass]="{'is-invalid' : submited && form.controls.confirmPassword.invalid}" autocomplete="off"
                                    required />
                                <label for="confirmPassword" class="form-control-placeholder">Confirm Password</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="username" id="username" class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="email" autocomplete="off" [ngClass]="{'is-invalid' : submited && form.controls.username.invalid}" required />
                                <label for="username" class="form-control-placeholder">
                                    <i class="far fa-envelope"></i>
                                    Email</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="phone" id="phone" class="form-control bg-transparent border-right-0 border-left-0 border-top-0" type="tel" autocomplete="off" [ngClass]="{'is-invalid' : submited && form.controls.phone.invalid}" required />
                                <label for="phone" class="form-control-placeholder">
                                    <i class="fas fa-mobile-alt"></i>
                                    Phone</label>
                                <small class="text-muted ml-2">
                                    Will be only used for notifications.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 text-center" *ngFor="let role of roles">
                            <div class="form-group" (click)="form.value.role = role.id">
                                <button type="button" class="btn btn-block mt-2 mx-auto border-danger" [ngClass]="{'btn-danger': form.value.role == role.id}">
                                    {{role.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown">
                            <select class="form-control custom-select" name="roles">
                                <option>Select your role</option>
                                <option>Student</option>
                                <option>Advisor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="terms" formControlName="terms" required />
                        <label for="terms" class="label-agree-term ml-2 text-dark">I agree all statements in
                            <a href="#" class="term-service">Terms of service</a>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-12 text-xl-left text-lg-left text-md-left text-sm-left text-center">
                            <a routerLink="/login" class="btn btn-link text-muted text-truncate">I'm already member</a>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-12 text-xl-right text-lg-right text-md-right text-sm-right text-center
                                 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3 order-xl-last order-lg-last order-md-last order-sm-last order-first">
                            <div class="float-right btn-custom reverse d-block">
                                <button [disabled]="loading" class="btn border-radius-20 position-relative text-light px-xl-4 px-lg-2 px-md-4 px-sm-5 px-1">
                                    <span *ngIf="loading">
                                        <i class="fa fa-spin fa-spinner"></i>
                                    </span>
                                    <span *ngIf="!loading">Register</span>
                                </button>
                                <button class="btn border-radius-full text-light ml-2 position-relative" (click)="register(form.value)">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="d-block text-center mt-4">
                        <div>
                            <a routerLink="/programs">
                                <small class="text-muted">
                                    back to Home
                                </small>
                            </a>
                        </div>
                    </div>
                    <div class="d-block text-center mt-4">
                        <div *ngIf="alert.message" class="alert alert-danger p-1" role="alert">
                            <small>
                                {{alert.message}}
                            </small>
                        </div>
                    </div>
                    <div class="d-block text-center mt-4" *ngIf="errors !== null">
                        <div class="alert alert-danger p-1" *ngFor="let error of errors" role="alert">
                            <small>
                                {{error}}
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Advisor!</h4>
            <p>Advisor account is for applyfree advisors who have passed the selection process or those who want to register a student immediatley.
                <a>
                    <b>
                        Read more about applyfree advisors here.
                    </b>
                </a>
            </p>
        </div>
    </div>
</div>
<span class="bg-copyright text-muted"></span>