<div class="row h-100 align-content-center bg-white">
    <div
        class="col-xl-4 col-lg-5 col-md-8 col-sm-8 col-10 shadow-lg p-5 bg-light mx-auto border-radius-30 bg-duplicate">
        <span class="as-shadow"></span>
        <span class="bg-copyright"></span>
        <div class="row">
            <div class="col-12 ">
                <div class="row mb-4">
                    <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-4 mx-auto text-center">
                        <div class="logo">
                            <span class="number"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="register(form.value)">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="firstName" id="firstName"
                                    class="form-control bg-transparent border-top-0 border-right-0 border-left-0 border-radius-0"
                                    type="text" autocomplete="off"
                                    [ngClass]="{'is-invalid' : submited && form.controls.firstName.invalid}" required />
                                <label class="form-control-placeholder">First Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="lastName"
                                    class="form-control bg-transparent border-top-0 border-right-0 border-left-0 border-radius-0"
                                    type="text" autocomplete="off"
                                    [ngClass]="{'is-invalid' : submited && form.controls.lastName.invalid}" required />
                                <label class="form-control-placeholder">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input formControlName="username"
                                    class="form-control bg-transparent border-top-0 border-right-0 border-left-0 border-radius-0"
                                    type="email" autocomplete="off"
                                    [ngClass]="{'is-invalid' : submited && form.controls.username.invalid}" required />
                                <label class="form-control-placeholder">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <select formControlName="country" class="form-control custom-select">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6" *ngIf="form.value.country">
                            <div class="form-group">
                                <select formControlName="city" class="form-control custom-select">
                                    <option *ngFor="let item of form.value.country.states" [ngValue]="item.name">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="password"
                                    class="form-control bg-transparent border-top-0 border-right-0 border-left-0 border-radius-0"
                                    type="password"
                                    [ngClass]="{'is-invalid' : submited && form.controls.password.invalid}"
                                    autocomplete="off" required />
                                <label class="form-control-placeholder">Password</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input formControlName="confirmPassword"
                                    class="form-control bg-transparent border-top-0 border-right-0 border-left-0 border-radius-0"
                                    type="password"
                                    [ngClass]="{'is-invalid' : submited && form.controls.confirmPassword.invalid}"
                                    autocomplete="off" required />
                                <label class="form-control-placeholder">Confirm Password</label>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center roleImages">
                        <div class="col-xl-5 col-lg-5 px-5 mx-3" *ngFor="let item of roles" (click)="setRole(item); item.active = true" [ngClass]="{'selected':item.active}">
                            <div class="card-group">
                                <div class="card pointer bg-transparent mx-1 border-left-0 border-right-0 border-top-0 border-bottom-0"
                                     (click)="setRole(item); item.active = true" >
                                    <img class="img-fluid" [src]="item.image" alt="item.title">
                                    <div class="card-body text-center">
                                        <span class="card-title text-muted">{{item.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="dropdown">
                            <select class="form-control custom-select" name="roles">
                                <option>Select your role</option>
                                <option value="1">Student</option>
                                <option value="2">Recruiter</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="terms" formControlName="terms" required />
                        <label for="terms" class="label-agree-term ml-2 text-dark">I agree all statements in
                            <a href="#" class="term-service">Terms of service</a>
                        </label>
                    </div>
                    <div class="row">
                        <div
                            class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-12 text-xl-left text-lg-left text-md-left text-sm-left text-center">
                            <a routerLink="/login" class="btn btn-link text-muted text-truncate">I'm already member</a>
                        </div>
                        <div
                            class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-12 text-xl-right text-lg-right text-md-right text-sm-right text-center
                                 mb-xl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3 order-xl-last order-lg-last order-md-last order-sm-last order-first">
                            <div class="float-right btn-custom reverse d-block">
                                <button [disabled]="loading" 
                                    class="btn border-radius-20 position-relative text-light px-xl-4 px-lg-2 px-md-4 px-sm-5 px-1">
                                    <span *ngIf="loading">
                                        <i class="fa fa-spin fa-spinner"></i>
                                    </span>
                                    <span *ngIf="!loading">Register</span>
                                </button>
                                <button class="btn border-radius-full text-light ml-2 position-relative"
                                    (click)="register(form.value)">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>