::ng-deep body {
    overflow-x: hidden;
}

.background {
    background-image: url(/assets/images/bg-account.png), linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.form-control {
    box-shadow: none;
}

.w-15px {
    width: 15px;
}

.terms-label {
    white-space: nowrap;
    line-height: 10px;
}

.copyright {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .background {
        background-image: #fff;
    }
    .border-radius-30 {
        border-radius: 0;
    }
    .copyright {
        position: static;
        display: block;
    }
}

@media (max-width: 425px) {
     ::ng-deep body {
        background-color: #fff;
    }
    .ml-auto {
        margin: 0 auto;
    }
    .shadow-lg {
        box-shadow: none!important;
    }
}