<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1816" style="enable-background:new 0 0 1920 1816;" xml:space="preserve">
<style type="text/css">
	.st0{fill:url(#SVGID_1_);}
	.st1{opacity:0.19;fill:url(#SVGID_2_);}
	.st2{opacity:0.18;fill:url(#SVGID_3_);}
	.st3{display:none;fill:#FFFFFF;}
	.st4{opacity:0.54;fill:url(#SVGID_4_);}
	.st5{opacity:0.5;fill:#FFFFFF;}
	.st6{opacity:0.22;fill:#FFFFFF;}
	.st7{fill:url(#SVGID_5_);}
	.st8{fill:url(#SVGID_6_);}
</style>
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="141.9232" y1="1670.8004" x2="1876.9565" y2="-64.2329">
	<stop  offset="0" style="stop-color:#F3410A"/>
	<stop  offset="2.917206e-02" style="stop-color:#F03A1D"/>
	<stop  offset="7.167982e-02" style="stop-color:#EC3231"/>
	<stop  offset="0.1201" style="stop-color:#EA2C3F"/>
	<stop  offset="0.1788" style="stop-color:#E82947"/>
	<stop  offset="0.277" style="stop-color:#E8284A"/>
	<stop  offset="0.5953" style="stop-color:#E8284A"/>
	<stop  offset="0.6461" style="stop-color:#E8284A"/>
	<stop  offset="0.7298" style="stop-color:#E92946"/>
	<stop  offset="0.8087" style="stop-color:#EB2E3B"/>
	<stop  offset="0.8857" style="stop-color:#EE3528"/>
	<stop  offset="0.9611" style="stop-color:#F2400D"/>
	<stop  offset="0.9691" style="stop-color:#F3410A"/>
</linearGradient>
<path class="st0" d="M1923.1,1701c-254-85-612.5-119-1031.3-43.6C378,1741,105.1,1797,1.4,1785C-17.3,1763,5.4-4,5.4-4L1929-6
	C1922.2,562,1929.9,1133,1923.1,1701z"/>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-101.7152" y1="730.0141" x2="1154.8419" y2="730.0141">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="9.630630e-02" style="stop-color:#FEF7F8;stop-opacity:0.9518"/>
	<stop  offset="0.2489" style="stop-color:#FCE0E5;stop-opacity:0.8756"/>
	<stop  offset="0.4386" style="stop-color:#F8BBC5;stop-opacity:0.7807"/>
	<stop  offset="0.658" style="stop-color:#F2879A;stop-opacity:0.671"/>
	<stop  offset="0.8995" style="stop-color:#EB4563;stop-opacity:0.5503"/>
	<stop  offset="1" style="stop-color:#E8284A;stop-opacity:0.5"/>
</linearGradient>
<polygon class="st1" points="1154.8,974.4 -29.5,1111.1 -101.7,485.6 1082.7,348.9 "/>
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="1059.2725" y1="930.4266" x2="2315.8296" y2="930.4266" gradientTransform="matrix(-0.9948 2.107134e-02 7.513009e-02 -0.5046 2953.8923 556.7299)">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="0.1088" style="stop-color:#FEFAFA;stop-opacity:0.9456"/>
	<stop  offset="0.2462" style="stop-color:#FDEAED;stop-opacity:0.8769"/>
	<stop  offset="0.3988" style="stop-color:#FAD0D8;stop-opacity:0.8006"/>
	<stop  offset="0.5626" style="stop-color:#F6ACB9;stop-opacity:0.7187"/>
	<stop  offset="0.7354" style="stop-color:#F17E92;stop-opacity:0.6323"/>
	<stop  offset="0.9128" style="stop-color:#EB4663;stop-opacity:0.5436"/>
	<stop  offset="1" style="stop-color:#E8284A;stop-opacity:0.5"/>
</linearGradient>
<polygon class="st2" points="738.3,12.7 1926.8,-81.2 1951.6,232.9 763.1,326.8 "/>
<path class="st3" d="M1036.8,1636.7c0,0-436.8-113.2-797.1,66.9c-44.6,22.3-22.3,127.8-22.3,127.8l876.2-18.3l-62.9-164.3"/>
<image style="display:none;overflow:visible;opacity:0.46;" width="1920" height="1000" xlink:href="89.png"  transform="matrix(1.1677 0 0 1.1677 -30 883.8333)">
</image>
<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="-19" y1="1756.3369" x2="879.7183" y2="1756.3369">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
</linearGradient>
<path class="st4" d="M821.8,1671.2c0,0-445.2-120.8-812.4,71.4c-45.5,23.8-22.7,136.4-22.7,136.4l893-19.5l-64.1-175.4"/>
<path class="st5" d="M1545,1632.7c0,0,245.4-93.3,373.2-16.2c16.2,10.1,0,109.5,0,109.5h-361L1545,1632.7z"/>
<path class="st6" d="M1040.4,1638.4c0,0,337.6-200.4,638.6,2.6"/>
<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="-193.8253" y1="1836.3253" x2="-181.2275" y2="1823.7275">
	<stop  offset="0" style="stop-color:#F3410A"/>
	<stop  offset="2.917206e-02" style="stop-color:#F03A1D"/>
	<stop  offset="7.167982e-02" style="stop-color:#EC3231"/>
	<stop  offset="0.1201" style="stop-color:#EA2C3F"/>
	<stop  offset="0.1788" style="stop-color:#E82947"/>
	<stop  offset="0.277" style="stop-color:#E8284A"/>
	<stop  offset="0.5953" style="stop-color:#E8284A"/>
	<stop  offset="0.6461" style="stop-color:#E8284A"/>
	<stop  offset="0.7298" style="stop-color:#E92946"/>
	<stop  offset="0.8087" style="stop-color:#EB2E3B"/>
	<stop  offset="0.8857" style="stop-color:#EE3528"/>
	<stop  offset="0.9611" style="stop-color:#F2400D"/>
	<stop  offset="0.9691" style="stop-color:#F3410A"/>
</linearGradient>
<line class="st7" x1="-179" y1="1826" x2="-197" y2="1835"/>
<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="624" y1="1521" x2="624" y2="1521">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
</linearGradient>
<path class="st8" d="M624,1521"/>
</svg>