<div class="container">
    <div class="row" *ngIf="!loading && program">
        <div class="col-12 text-left mb-4">
            <h2 class="text-orangedark text-capitalize">
                {{program.title}}
            </h2>
            <h6>
                {{program.school.title}}
            </h6>
            <ng-container *ngIf="intake">
                <h6>
                    <span class="text-primary"> Start date: {{intake.start_date | date}} </span>
                </h6>
                <h6>
                    <span class="text-danger d-block"> Submission deadline: {{intake.submission | date}} </span>
                </h6>
            </ng-container>
            <h6 class="text-success" *ngIf="contract">
                Signed in {{contract.creationDate | date}}
            </h6>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12" *ngIf="!loading">
            <div class="card">
                <div class="card-body px-4">
                    <div class="contractTerms">
                        <div class="mb-4 mt-3">
                            <h4>
                                Terms of the contract
                            </h4>
                        </div>
                        <ul>
                            <li>
                                The Student must know it is a condition of the contract that any information given with or in relation to the Student’s application is true, genuine, correct, and complete.
                            </li>
                            <li class="py-4">
                                The Student is bound to act as a responsible member of the University’s community, including treating other members of the community and the public with courtesy and respect.
                            </li>
                            <li>
                                The Student is bound to progress his/her own academic studies. This will include giving work when required to do so, meeting deadlines, and attending tutorials, classes, and lectures.
                            </li>
                        </ul>
                        <!-- <p>
                            <i class="fas fa-circle text-danger px-1"></i> 
                        </p> -->
                    </div>
                    <ng-container *ngIf="program">
                        <div class="jumbotron mt-5 pt-3">
                            <i class="fas fa-signature text-orangedark fa-3x my-3"></i>
                            <h2 class="text-orangedark">Dear <span *ngIf="user">{{user.firstName}} {{user.lastName}}</span> <span *ngIf="!user">User</span></h2>
                            <p class="lead" *ngIf="program.fee > 0">After you sign the contract, you should pay
                                <b>{{program.fee | currency}}</b> for apply this program.</p>
                            <p class="lead" *ngIf="program.fee == 0">This program is <b class="text-success">free</b> And After you sign the contract you will get it</p>
                            <hr class="my-4" *ngIf="!user">
                            <p *ngIf="!user">
                                <i class="fas fa-quote-left px-2"></i> If you didn't log in applyfree , you will redirect to login page.
                            </p>

                            <ng-container *ngIf="!contract">
                                <p *ngIf="user && user.role == 1">
                                    You need to join a group to get adviser code, to select an adviser. <a routerLink="/advisers">See all advisers</a>
                                </p>

                                <div class="mt-5" [ngClass]="{'input-group': user}">
                                    <div [ngClass]="{'input-group-prepend': user}">
                                        <button class="btn btn-success" type="button" id="sign-button" (click)="sign()">
                                                Sign the contract <span *ngIf="user && user.role == 2"> for student</span>
                                            </button>
                                    </div>
                                    <ng-container *ngIf="user && user.role == 2">
                                        <select class="form-control" [(ngModel)]="form.student">
                                            <option value="0">Select student</option>
                                            <option *ngFor="let item of group" [value]="item.user.id">{{item.user.firstName}} {{item.user.lastName}}</option>
                                        </select>
                                    </ng-container>
                                    <ng-container *ngIf="user && user.role == 1">
                                        <input *ngIf="user && user.role == 1" type="text" class="form-control" placeholder="Adviser code" aria-label="agent code" aria-describedby="sign-button" [(ngModel)]="form.code">
                                    </ng-container>
                                </div>
                            </ng-container>

                            <div class="text-success" *ngIf="contract">
                                <a [routerLink]="['/dashboard/programs/contract-detail', intakeId, programId, programSlug]">Track your contract</a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="col-12 text-center" *ngIf="loading">
            <div class="d-flex">
                <span class="ml-auto text-muted py-3">{{progress.description}}</span>
            </div>
            <ngb-progressbar type="danger" [value]="progress.loading" [striped]="true" [animated]="true">
                <i>{{progress.loading}}%</i></ngb-progressbar>
        </div>
    </div>
</div>