<router-outlet></router-outlet>
<ng-container *ngIf="this.router.url == '/dashboard/programs'">
    <ng-container *ngIf="loading">
        <div class="text-center text-muted">
            <div>
                <i class="fa fa-sync fa-spin"></i>
            </div>
            <div>
                Please wait ...
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading && programs">
        <ng-container *ngIf="programs.length == 0">
            <div class="text-center text-muted">
                <h5>You do not have any application!</h5>
                <a routerLink="/public/programs" class="btn btn-orangedark mt-2">
                    Go to programs
                </a>
            </div>
        </ng-container>
        <ng-container *ngIf="programs.length > 0">
            <div class="row">
                <div class="col-12">
                    <h6 class="text-muted mb-2">
                        <i class="fab fa-product-hunt text-primary"></i>
                        Programs to which you have applied
                    </h6>
                    <div class="table-responsive mt-4">
                        <table class="table table-hover text-center table-striped">
                            <thead>
                                <tr>
                                    <th class="th-number"></th>
                                    <th>Program</th>
                                    <th>Student</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of programs;index as i">
                                    <td>{{i + 1}}</td>
                                    <td class="py-3">
                                        {{item.intake.program.title}}
                                        <div>
                                            <small>
                                                {{item.intake.program.school.title}}
                                            </small>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        {{item.user.firstName}} {{item.user.lastName}}
                                    </td>
                                    <td class="py-3">
                                        {{item.status | status}}
                                    </td>
                                    <td>
                                        <a class="btn btn-orangedark"
                                            [routerLink]="['/dashboard/programs/contract-detail' ,item.intake.id ,item.intake.program.id,item.intake.program.slug]">show
                                            details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>