<div class="container-fluid h-100" *ngIf="user">
    <div class="row">
        <div class="col-12 px-0 pt-2 bg-orangedark">
            <nav class="container navbar navbar-expand-lg pb-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-4">
                            <a class="nav-link py-3 border-radius-x-5" routerLinkActive="active"
                                routerLink="/programs">
                                Programs
                            </a>
                        </li>
                        <li class="nav-item mr-4" *ngFor="let item of menus">
                            <a class="nav-link py-3 border-radius-x-5" routerLinkActive="active"
                                [routerLink]="item.link">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                    <div class="text-light ml-auto">
                        <a class="text-light" routerLink="/dashboard">Hi {{user.firstName}} {{user.lastName}}</a>
                        <button class="btn ml-2" (click)="logout()" data-toggle="tooltip" data-placement="top" title="Logout">
                            <i class="fa fa-sign-out-alt text-light"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container h-100">
        <div class="row h-100 mt-5 pt-5">
            <div class="col-12 h-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <div class="footer shadow">
        <div class="container">
            <div class="mt-2 py-1">
                <a class="float-left text-muted" routerLink="/programs">
                    2020 applyfree
                </a>
                <span class="float-right text-muted">
                    <a class="border-right border-dark px-2" routeLink="/page/about">
                        About
                    </a>
                    <a class="border-right border-dark ml-2 px-2" routeLink="/page/about">
                        Team
                    </a>
                    <a class="ml-2 pl-1" routeLink="/page/contact">
                        Contact
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>