<div class="container-fluid h-100" *ngIf="user">
    <div class="row">
        <div class="col-12 px-0 pt-2 bg-orangedark">
            <nav class="container navbar navbar-expand-lg pb-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-4">
                            <a class="nav-link py-3 border-radius-top-5" routerLinkActive="active"
                                routerLink="/public/programs">
                                Programs
                            </a>
                        </li>
                        <li class="nav-item mr-4" *ngFor="let item of menus">
                            <a class="nav-link py-3 border-radius-top-5" routerLinkActive="active"
                                [routerLink]="item.link">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                    <div class="text-light ml-auto">
                        <span class="text-light">Hi {{user.firstName}} {{user.lastName}}</span>
                        <button *ngIf="user.role==2" triggers="manual" 
                            class="btn btn-sm btn-light ml-3" placement="bottom" ngbTooltip="Your code" 
                            tooltipClass="bg-tooltip">
                            {{user.code}}
                        </button>
                        <button class="btn ml-2" (click)="logout()" placement="bottom" ngbTooltip="Logout"
                            tooltipClass="bg-tooltip">
                            <i class="fa fa-sign-out-alt text-light"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 mt-5">
            <div class="col-12 h-100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>