.logo {
    width: 101px;
    height: 94px;
}

.logo::before {
    border: solid 0.7vw var(--white);
}

/* xl size */

.logo {
  width: 101px;
  height: 94px;
}

.logo::before {
  border: solid 0.7vw var(--white);
}

/* xl size */


.logo-xl::before{
  border: solid 0.6vw var(--white);
}

.logo-xl .line::before {
  width: 28%;
  height: 9%;
  background-color: var(--dark);
  border-radius: 0 20px 20px 0;
  transform: rotate(53deg);
  left: 51%;
  bottom: 44%;
  z-index: 2;
}

/* lg size */

.logo-xl::before{
  border: solid 0.9vw var(--white);
}
.logo::after {
  width: 47%;
  height: 55%;
  border-radius: 50%;
  border: solid 0.8vw var(--orangedark);
  border-right-color: #fab39d;
  right: 0;
}

.logo .line::before {
  width: 30%;
  height: 9%;
  background-color: var(--dark);
  border-radius: 0 20px 20px 0;
  transform: rotate(53deg);
  left: 51%;
  bottom: 44%;
  z-index: 2;
}

/* md size */
.logo[_ngcontent-mrn-c62] {
  width: 101px;
  height: 86px;
}

.logo[_ngcontent-mrn-c62]::before {
  border: solid 0.9vw var(--white);
}

.logo::before {
  width: 53%;
  height: 59%;
  border-radius: 50%;
  border: solid 1vw var(--dark);
  left: 0;
  z-index: 2;
  top: 12%;
}

.logo .line::before {
  width: 30%;
  height: 9%;
  background-color: var(--dark);
  border-radius: 0 20px 20px 0;
  transform: rotate(53deg);
  left: 45%;
  bottom: 44%;
  z-index: 2;
}

.logo .line::after {
  width: 22%;
  height: 8%;
  background-color: var(--orangedark);
  border-radius: 0 20px 20px 0;
  transform: rotate(53deg);
  left: 52%;
  bottom: 39%;
  z-index: 1;
}

.logo::after {
  width: 38%;
  height: 46%;
  border-radius: 50%;
  border: solid 0.8vw var(--orangedark);
  border-right-color: #fab39d;
  right: 15%;
}


.sidebar {
    background-color: var(--orangelight);
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 9; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; 
}

.sidebar.show {
   width: 220px;
 }

