.logo {
    width: 101px;
    height: 94px;
}

.logo::before {
    border: solid 0.7vw var(--white);
}

.sidebar {
    background-color: var(--orangelight);
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 9; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; 
}

.sidebar.show {
   width: 220px;
 }

