<a routerLink="/dashboard/contracts" class="btn btn-secondary">
    <i class="fa fa-chevron-left"></i> Back
</a>

<form class="form-row mt-5" [formGroup]="form">
    <div class="col-12">

        <div class="mb-4" *ngIf="inHold">
            <div class="alert alert-warning">
                This contract is pending to verification..
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h2>
                    <span class="text-muted" *ngIf="loading">loading contract ...</span>
                    <span *ngIf="!loading">{{form.value.title}}</span>
                </h2>
            </div>
            <div class="col-6 align-self-center">
                <div class="row text-right">
                    <div class="col">
                        <div class="custom-control custom-radio">
                            <input formControlName="type" type="radio" class="custom-control-input pointer" [value]="1" id="contractTypeFree" name="type">
                            <label class="custom-control-label pointer" for="contractTypeFree">Free</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-radio">
                            <input formControlName="type" type="radio" class="custom-control-input pointer" [value]="2" id="contractTypePremium" name="type">
                            <label class="custom-control-label pointer" for="contractTypePremium">Premium</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-control custom-radio">
                            <input formControlName="type" type="radio" class="custom-control-input pointer" [value]="3" id="contractTypeAgency" name="type">
                            <label class="custom-control-label pointer" for="contractTypeAgency">Agency</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input formControlName="title" type="text" placeholder="Title" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <select class="form-control custom-select" formControlName="filter">
                        <option *ngFor="let item of contracts" [ngValue]='item.id'>
                            {{item.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" [hidden]="inHold">
            <div class="alert alert-primary alert-sm">
                <i class="fa fa-info-circle"></i> dubleclick on text to show editor tools
            </div>
            <div id="content" class="border border-radius-5 border-primary">
                {{form.value.content}}
            </div>
        </div>
        <div class="form-group" *ngIf="inHold" [innerHTML]="form.value.content">
        </div>
        <div class="form-group" *ngIf="form.value.type > 1">
            <input formControlName="price" type="text" placeholder="Price" class="form-control" />
        </div>
        <div class="form-group">
            <input [(ngModel)]="tag" type="text" [disabled]="loadTag" [disabled]="inHold" placeholder="insert contract tags (ENTER)" id="tag" autocomplete="off" (keyup)="tagHandler($event, tag)" class="form-control" [ngModelOptions]="{standalone: true}" [ngClass]="{'is-invalid': alert && alert.return == 301}"
            />
        </div>
        <div class="mt-2">
            <ng-container *ngFor="let item of tags">
                <span class="badge badge-primary font-weight-light mr-2 position-relative" [ngClass]="{'badge-danger': selectedTag == item.id || tag == item.name}">
                    {{item.name}}
                    <button type="button" class="btn btn-sm btn-link p-0" *ngIf="!inHold"
                        (click)="confirmation(item.id)">
                        <i class="fa fa-trash text-light mx-1"></i>
                    </button>

                    <ng-container *ngIf="inlineModal && selectedTag == item.id">
                        <ng-container *ngTemplateOutlet="delete"></ng-container>
                    </ng-container>
                </span>
            </ng-container>
        </div>
        <div class="mt-4" *ngIf="!inHold">
            <button type="button" [disabled]="submit" (click)="update(form.value)" class="btn btn-primary">
                <span *ngIf="submit"><i class="fa fa-spin fa-spinner"></i></span>
                <span *ngIf="!submit">Save</span>
            </button>

            <span class="text-success ml-3">
                <i class="fa fa-lock text-success"></i>
                Your contract will secure by key Non-copy
            </span>
        </div>

        <div class="alert mt-3" *ngIf="alert && alert.return" [ngClass]="{'alert-danger': alert.return > 200, 'alert-success': alert.return == 200}">
            {{alert.message}}
            <a *ngIf="alert.return == 400" class="float-right" routerLink="/dashboard/signatures">
                Add signature
            </a>
        </div>
    </div>
</form>

<ng-template #delete>
    <div class="bg-dark border-radius-5 mt-1 p-2 position-absolute text-white left-0">
        Are you sure ?
        <button class="btn btn-sm btn-success" (click)="deleteTag()" [disabled]="loadTag">
            <span *ngIf="loadTag"><i class="fa fa-spin fa-spinner"></i></span>
            <span *ngIf="!loadTag">Yes</span>
        </button>
        <button class="btn btn-sm btn-link text-white" (click)="selectedTag = null">Cancel</button>
    </div>
</ng-template>