:root {
    --orangered: #f0460b;
    --white: #fff;
    --gray: #818181;
    --orangelight: #F7F1EF;
    --orangedark: #f03d4c;
    --orangepink:#e33838eb
}

body,
html {
    background-color: #fff;
    min-height: 100%;
    height: 100%;
}


.border-radius-0 {
    border-radius: 0;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-full {
    border-radius: 100%;
}

.pointer {
    cursor: pointer;
}

.deactive-pointer {
    cursor: default;
    pointer-events: none;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.th-action {
    width: 260px;
}

.th-bool {
    width: 100px;
}

.th-number {
    width: 50px;
}

.bg-orangedark {
    background-image: linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
}

.bg-white {
    background-color: var(--white);
}

.bg-muted {
    background-color: #f7f7f7;
}

.btn-orangedark {
    background-color: var(--orangedark);
    border-color: var(--orangedark);
    color: var(--white);
}

.text-orangepink{
    color: var(--orangepink);
}

table tr td {
    vertical-align: middle!important;
}

.btn-gray-outline {
    background-color: var(--white);
    border-color: var(--gray);
    border-style: dashed;
    color: var(--black);
}

.btn-gray-outline:hover {
    background-color: var(--orangered);
    border-color: var(--orangered);
    border-style: dashed;
    color: var(--white);
}

.shadow-left {
    box-shadow: -8px 0 5px -5px #B2B1B1;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #B2B1B1;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.border-radius-x-5 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.z-index-1 {
    z-index: 1;
}

.text-orangedark {
    color: var(--orangedark);
}

.rotate-7 {
    transform: rotate(7deg);
}

.rotate--7 {
    transform: rotate(-7deg);
}

.btn-custom .btn,
.btn-custom .btn:hover,
.btn-custom .btn:focus {
    border: none;
    background-color: var(--light);
}

.btn-custom .btn:last-child:after,
.btn-custom .btn:last-child:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 12px;
    right: 100%;
    margin-right: 0px;
    z-index: 1;
    border-radius: 100%;
    top: 50%;
    transform: translate(2px, -50%);
}

.btn-custom .btn:last-child:before {
    margin-top: -3px;
    box-shadow: inset 0px -4px 0px 1px var(--light);
}

.btn-custom .btn:last-child:after {
    margin-top: 4px;
    box-shadow: inset 0px 3px 0px 1px var(--light);
}

.btn-custom.reverse .btn,
.btn-custom.reverse .btn:hover,
.btn-custom.reverse .btn:focus {
    background-color: var(--orangedark);
}

.btn-custom.reverse .btn:last-child:before {
    box-shadow: inset 0px -4px 0px 1px var(--orangedark);
}

.btn-custom.reverse .btn:last-child:after {
    box-shadow: inset 0px 3px 0px 1px var(--orangedark);
}

header {
    background-image: linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    position: relative;
}

header::before,
header::after,
footer::before,
footer::after {
    content: '';
    background-image: url(src/assets/svg/shadow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
}

header::before {
    background-position: top right;
    height: 300px;
    top: 0;
    right: 0;
}

header::after {
    height: 300px;
    top: 187px;
    left: 0;
    transform: scale(-1);
}

footer {
    background-image: linear-gradient(to right top, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
}

footer::before {
    background-position: top right;
    height: 300px;
    bottom: 255px;
    right: 0;
}

footer::after {
    height: 435px;
    bottom: 220px;
    left: 0;
    transform: scale(-1, -2);
}

.logo {
    /* [197 X 161] [] */
    width: 153px;
    height: 129px;
    margin: 0 auto;
    position: relative;
}

.logo.light::before,
.logo.light::after {
    border-color: var(--light);
}

.logo.light .line::before,
.logo.light .line::after {
    background-color: var(--light);
}

.logo::before,
.logo::after,
.logo .line::after,
.logo .line::before {
    content: '';
    position: absolute;
}

.logo .number::before {
    content: "2";
    font-size: 74%;
    content: "2";
    position: absolute;
    right: 2%;
    top: 0%;
    z-index: 2;
    background-color: var(--dark);
    border-radius: 50%;
    width: 14%;
    height: 16%;
    color: var(--light);
    line-height: 108%;
    border: solid 0.15vw var(--light);
    font-weight: normal;
}

.logo::before {
    width: 65%;
    height: 78%;
    border-radius: 50%;
    border: solid 1vw var(--dark);
    left: 0;
    z-index: 2;
    top: 12%;
}

.logo::after {
    width: 47%;
    height: 55%;
    border-radius: 50%;
    border: solid 0.5vw var(--orangedark);
    border-right-color: #fab39d;
    right: 0;
}

.logo .line::after {
    width: 24%;
    height: 8%;
    background-color: var(--orangedark);
    border-radius: 0 20px 20px 0;
    transform: rotate(53deg);
    left: 63%;
    bottom: 32%;
    z-index: 1;
}

.logo .line::before {
    width: 30%;
    height: 12%;
    background-color: var(--dark);
    border-radius: 0 20px 20px 0;
    transform: rotate(53deg);
    left: 51%;
    bottom: 44%;
    z-index: 2;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

@media only screen and (min-width: 2560px) {
    header::before,
    header::after,
    footer::before,
    footer::after {
        width: 75%;
    }
}

@media only screen and (max-width: 1440px) {
    header::after {
        height: 265px;
    }
}

@media only screen and (max-width: 1024px) {
   
}

@media only screen and (max-width: 768px) {
  
}
