header::after {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    background-image: url(src/assets/svg/header.svg);
    transform: rotate(360deg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
}