header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(src/assets/svg/header-full.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 0;
    width: 100%;
    height: 100%;
}