header {
    background-image: linear-gradient(to left bottom, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    height: 80vh;
    position: relative;
}

header::before,
header::after,
footer::before,
footer::after {
    content: '';
    background-image: url(src/assets/svg/shadow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
}

header::before {
    background-position: top right;
    height: 300px;
    top: 0;
    right: 0;
}

header::after {
    height: 300px;
    top: 400px;
    left: 0;
    transform: scale(-1);
}

.bg-section-1 {
    background-image: url(src/assets/images/bg-section-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-section-2 {
    background-image: url(src/assets/images/bg-section-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-section-3 {
    background-image: url(src/assets/images/bg-section-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-section-4 {
    background-image: url(src/assets/images/bg-section-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-image: linear-gradient(to right top, #eb405e, #ef3d4e, #f23d3d, #f24029, #f0460b);
    height: 70vh;
}

footer::before {
    background-position: top right;
    height: 300px;
    bottom: 255px;
    right: 0;
}

footer::after {
    height: 435px;
    bottom: 220px;
    left: 0;
    transform: scale(-1, -2);
}

@media only screen and (min-width: 2560px) {
    header {
        height: 60vh;
    }
    header::before,
    header::after,
    footer::before,
    footer::after {
        width: 75%;
    }
}

@media only screen and (max-width: 1440px) {
    footer {
        height: 90vh;
    }
    header::after {
        height: 265px;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        height: 90vh;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        height: 165vh;
    }
    header {
        height: 145vh;
    }
}