<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg py-5">
                        <a class="navbar-brand text-light" href="#">
                            <h3>
                                applyfree
                            </h3>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto mr-5">
                                <a class="nav-item text-light  nav-link active ml-3">Home<span
                                        class="sr-only">(current)</span></a>
                                <a class="nav-item text-light  nav-link ml-3" routerLink="/contracts">Contracts</a>
                                <a class="nav-item text-light nav-link ml-3" routerLink="/pages/contactus">Contact us</a>
                                <a class="nav-item text-light  nav-link ml-3" routerLink="/pages/aboutus">About us</a>
                                <!-- <a class="nav-item text-light  nav-link ml-3" routerLink="/terms">Terms</a>
                                <a class="nav-item text-light  nav-link ml-3"
                                    routerLink="/policy">Policy</a> -->
                            </div>
                        </div>
                        <div class="float-right">
                            <button
                                class="btn btn-light border-radius-20 px-lg-4 px-md-5 px-sm-5 px-4 position-relative btn-custom-1"
                                routerLink="/login">
                                <span>Log in | Register</span>
                            </button>
                            <button class="btn btn-light border-radius-full ml-2 position-relative btn-custom-2"
                                routerLink="/login">
                                <span>
                                    <i class="fa fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </nav>
                    <div class="row text-light mt-5">
                        <div class="col-5">
                            <div class="mb-4 ml-3">
                                <h1>applyfree</h1>
                                <small class="text-light">Free education for students</small>
                            </div>
                            <p class="mb-5">
                                applyfree helps students and their parents find meaningful information beneficial to
                                their education path. Before applyfree, each student had to do extensive research and in
                                most cases a purposeless loop of googling with a lot of irrelevant - and in some cases
                                wrong - information awaiting them. Since applyfree, the whole research process has
                                turned into a meaningful search of available "contracts" that predict real meaningful
                                actions. But who provides these contracts? applyfree's search engine is fueled by
                                offerings from one of these groups: 1. school admins, 2. student recruiters and
                                consultants, 3. tutors and private teachers or 4. translators from anywhere in the
                                world.
                            </p>
                            <div class="row">
                                <div class="col-6 px-0 border-right">
                                    <button class="btn btn-success px-5 py-3 border-radius-30">Apply free</button>
                                </div>
                                <div class="col-6 px-5">
                                    <p> at sed fugiat hic veniam deserunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <img src="assets/images/header-landing.png" alt="applyfree" class="img-fluid">
                        </div>
                    </div>
                    <div class="row my-5 py-5 text-light text-center">
                        <div class="col-2 border-right ">
                            watterloo
                        </div>
                        <div class="col-2 border-right">
                            sample
                        </div>
                        <div class="col-2 border-right">
                            sample
                        </div>
                        <div class="col-2 border-right">
                            sample
                        </div>
                        <div class="col-2 border-right">
                            sample
                        </div>
                        <div class="col-2">
                            sample
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="main">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>How <span class="text-orangered">applyfree</span> is being used?</h4>
                        </div>
                    </div>
                    <div class="row mx-5 justify-content-center">
                        <div class="col-6">
                            <img src="assets/images/landing-1.png" alt="landing-1" class="img-fluid">
                        </div>
                        <div class="col-4 my-auto px-5">
                            <p class="mb-5">applyfree is being used to search for education specific offerings. On the
                                other hand, it is being used to create and publish searchable offerings as contracts.
                                You can enter any contract as the second party when you find it. After finding the right
                                contract for you, you're free to contact the first party in order to negotiate, bargain
                                and communicate whatever you like. At the end, if the first party, the user who has
                                created the contract, agrees to work with you, you'll have a deal.
                            </p>
                            <div class="row">
                                <div class="col-6 px-0  border-right text-center">
                                    <button class="btn btn-success px-5 py-3 border-radius-30">Join us</button>
                                </div>
                                <div class="col-6 px-5 my-auto text-center">
                                    <p> at sed fugiat hic veniam deserunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-5 justify-content-center">
                        <div class="col-4 my-auto pl-5 pr-0">
                            <h3>Why applyfree?</h3>
                            <p>applyfree's information is relevant, real and serious. Promotional content is not part of
                                our search algorithms. When you search within applyfree, you actually search for
                                promises that will most likely happen.
                                applyfree is on a mission to make free education available to everyone. By using our
                                service, you are helping us in this mission.
                                In applyfree, you can enter a deal, close the contract and export (i.e. print) your
                                version with both parties' signatures on it, all from your home. With your contract in
                                hand, you are able to seek those signed promises outside.
                                In applyfree, enterprises can build trust. As an enterprise, the history of your good
                                works will be available to anyone who wants to decide to do business with you.
                                In applyfree, you engage with real people with real, clear intentions.</p>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-success px-5 py-3 border-radius-30">Join us</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <img src="assets/images/landing-2.png" alt="landing-2" class="img-fluid">
                        </div>
                    </div>

                    <div class="row mx-5 justify-content-center">
                        <div class="col-5">
                            <img src="assets/images/landing-3.png" alt="landing-3" class="img-fluid">
                        </div>
                        <div class="col-4 my-auto px-5">
                            <h3>What happens in applyfree?</h3>
                            <p>In applyfree, you can enter a deal, close the contract and export (i.e. print) your
                                version with both parties' signatures on it, all from your home. With your contract in
                                hand, you are able to seek those signed promises outside.</p>
                            <div class="row">
                                <div class="col-6 px-0 border-right">
                                    <button class="btn btn-success px-5 py-3 border-radius-30">Join us</button>
                                </div>
                                <div class="col-6 px-5">
                                    <p> at sed fugiat hic veniam deserunt</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <img src="assets/images/landing-4.png" alt="landing-4" class="img-fluid">
                            <p> After finding the right contract for you, you're free to contact the first party in
                                order to negotiate, bargain and communicate whatever you like. At the end, if the first
                                party, the user who has created the contract, agrees to work with you, you'll have a
                                deal.</p>
                        </div>
                    </div>
                    <div class="row my-5 py-5">
                        <div class="col-12 text-center">
                            <h3>Why applyfree is the best</h3>
                        </div>
                    </div>
                    <div class="container row mx-auto">
                        <div class="col-4 text-center">
                            <img src="assets/images/money.png" alt="" width="30%" class="img-fluid">
                            <h3>THIS SERVICE IS FREE</h3>
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architect</small>
                        </div>
                        <div class="col-4 text-center">
                            <img src="assets/images/diamond.png" alt="" width="30%" class="img-fluid">
                            <h3>THIS SERVICE IS FREE</h3>
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architect</small>
                        </div>
                        <div class="col-4 text-center">
                            <img src="assets/images/target.png" alt="" width="30%" class="img-fluid">
                            <h3>THIS SERVICE IS FREE</h3>
                            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architect</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="content-footer">
                    <div class="row">
                        <div class="col-2">
                            <h5>Quick access</h5>
                            <ul class="list-unstyled">
                                <li>About us</li>
                                <li>Contact us</li>
                                <li>Contracts</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h5>Quick access</h5>
                            <ul class="list-unstyled">
                                <li>About us</li>
                                <li>Contact us</li>
                                <li>Contracts</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <h5>applyfree departments</h5>
                            <ul class="list-unstyled">
                                <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                                <li>Lorem ipsum dolor sit aLorem ipsum dolor sit a</li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h5>Quick access</h5>
                            <ul class="list-unstyled">
                                <li>About us</li>
                                <li>Contact us</li>
                                <li>Contracts</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                        <div class="col-1">
                            <h5>Social</h5>
                            <img src="assets/images/instagram.png" class="img-fluid" alt="instagram">
                            <img src="assets/images/linkedin.png" class="img-fluid" alt="linkedin">
                            <img src="assets/images/twitter.png" class="img-fluid" alt="twitter">
                            <img src="assets/images/telegram.png" class="img-fluid" alt="telegram">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <img src="assets/images/building-footer.png" alt="footer applyfree" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>